Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

chore: bump version to v0.16.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

chore: bump version to v0.16.0 (#1465)
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

docs(mcp): document local write behavior for .mcp-ai-agent-guidelines
  CHANGELOG.md
  docs/LOCAL-WRITES.md
Due: none

feat(mcp): allow workspace writes when uninitialized
  .github/hooks/local-tool-sanity.json
  .github/hooks/scripts/local-tool-sanity.js
  .github/instructions/local-tool-safety.instructions.md
  .serena/project.yml
  README.md
  docs/src/content/docs/getting-started/mcp-config.mdx
  src/index.ts
  src/runtime/session-store-utils.ts
  src/tests/cli/local-tool-sanity.test.ts
  src/tests/readme-installation.test.ts
  src/tests/runtime/workspace-root.test.ts
  src/tests/tools/session-tools.test.ts
  src/tools/memory-tools.ts
  src/tools/session-tools.ts
Due: local-biome-check, local-typescript-check

fix(mcp): make all state artifact writes atomic
  CHANGELOG.md
  src/memory/toon-interface.ts
  src/tests/memory/toon-interface.test.ts
Due: local-biome-check, local-typescript-check

chore(changelog): clean unreleased write entries
  CHANGELOG.md
Due: none

test(mcp): add comprehensive tests for index request handlers and runtime integration
  src/tests/index.test.ts
  src/tests/runtime/index-main.test.ts
Due: local-biome-check, local-typescript-check

refactor(mcp): improve workspace directory handling and cleanup in tests
  docs/LOCAL-WRITES.md
  src/memory/toon-interface.ts
  src/runtime/session-bootstrap.ts
  src/runtime/session-store-utils.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/runtime/mcp-server-stdio.test.ts
  src/tests/runtime/toon-architecture-contracts.test.ts
  src/tests/runtime/workspace-root.test.ts
Due: local-biome-check, local-typescript-check

fix(pr): address PR #1467 review feedback
  .github/hooks/scripts/local-tool-sanity.js
  CHANGELOG.md
  src/memory/toon-interface.ts
  src/tests/cli/local-tool-sanity.test.ts
  src/tests/runtime/workspace-root.test.ts
Due: local-biome-check, local-typescript-check

feat(mcp): implement startup onboarding memory handling and enhance tool result summarization
  src/index.ts
  src/tests/runtime/mcp-server-stdio.test.ts
Due: local-biome-check, local-typescript-check

chore(changelog): update unreleased notes
  CHANGELOG.md
Due: none

fix: Allow workspace writes when uninitialized and ensure atomic writes (#1467)
  .github/hooks/local-tool-sanity.json
  .github/hooks/scripts/local-tool-sanity.js
  .github/instructions/local-tool-safety.instructions.md
  .serena/project.yml
  CHANGELOG.md
  README.md
  docs/src/content/docs/getting-started/mcp-config.mdx
  src/index.ts
  src/memory/toon-interface.ts
  src/runtime/session-bootstrap.ts
  src/runtime/session-store-utils.ts
  src/tests/cli/local-tool-sanity.test.ts
  src/tests/index.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/readme-installation.test.ts
  src/tests/runtime/index-main.test.ts
  src/tests/runtime/mcp-server-stdio.test.ts
  src/tests/runtime/toon-architecture-contracts.test.ts
  src/tests/runtime/workspace-root.test.ts
  src/tests/tools/session-tools.test.ts
  src/tools/memory-tools.ts
  src/tools/session-tools.ts
Due: local-biome-check, local-typescript-check

chore: bump version to v0.16.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

feat: implement workspace root anchoring for state storage and enhance ToonMemoryInterface
  src/index.ts
  src/memory/toon-interface.ts
  src/runtime/session-store-utils.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/runtime/session-store-utils.test.ts
Due: local-biome-check, local-typescript-check

feat: implement workspace root anchoring for state storage and enhance ToonMemoryInterface (#1483)
  src/index.ts
  src/memory/toon-interface.ts
  src/runtime/session-store-utils.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/runtime/session-store-utils.test.ts
Due: local-biome-check, local-typescript-check

chore: update changelog to include workspace root anchoring for state storage
  CHANGELOG.md
Due: none

chore: bump version to v0.17.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

chore: Release v0.17.0 (#1484)
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

refactor: reduce agent-workspace to source-only commands
  src/contracts/runtime.ts
  src/index.ts
  src/skills/runtime/workspace-adapter.ts
  src/skills/skill-registry.ts
  src/tests/mcp/sdk-compatibility-lane.test.ts
  src/tests/runtime-smoke.test.ts
  src/tests/runtime/skill-bridge.test.ts
  src/tests/simulations/session-1.test.ts
  src/tests/skills/runtime/workspace-adapter-extra.test.ts
  src/tests/skills/runtime/workspace-adapter.test.ts
  src/tests/skills/test-helpers.ts
  src/tests/tools/workspace-tools-extra.test.ts
  src/tests/tools/workspace-tools.test.ts
  src/tools/workspace-tools.ts
Due: local-biome-check, local-typescript-check

refactor: remove SessionBootstrap Hebbian warmup
  src/index.ts
  src/runtime/session-bootstrap.ts
  src/tests/runtime/session-bootstrap.test.ts
Due: local-biome-check, local-typescript-check

test(serena): add real uvx-spawned e2e for ChildSerenaClient
  README.md
  package.json
  src/tests/serena/e2e.test.ts
Due: local-biome-check, local-typescript-check

refactor(cli): slim mcp-cli to IDE-integration commands only
  README.md
  src/cli.ts
  src/cli/script-runner.ts
  src/cli/skill-hook-emitter.ts
  src/memory/glyphs-layer.ts
  src/models/model-orchestration-runner.ts
  src/onboarding/orchestration-editor.ts
  src/onboarding/wizard.ts
  src/presentation/cli-extensions.ts
  src/presentation/documentation-integration.ts
  src/presentation/index.ts
  src/tests/cli-script-runner.test.ts
  src/tests/cli/cli-main.test.ts
  src/tests/cli/cli.test.ts
  src/tests/cli/onboard.test.ts
  src/tests/cli/script-runner.test.ts
  src/tests/cli/skill-hook-emitter.test.ts
  src/tests/memory/glyphs-layer.test.ts
  src/tests/models/model-orchestration-runner.test.ts
  src/tests/onboarding/orchestration-editor.test.ts
  src/tests/onboarding/wizard.test.ts
  src/tests/presentation/cli-extensions.test.ts
  src/tests/presentation/documentation-integration.test.ts
  src/tests/presentation/index.test.ts
Due: local-biome-check, local-typescript-check

docs: align Astro site with the Serena + slim-CLI refactor
  docs/.astro/content-modules.mjs
  docs/astro.config.mjs
  docs/src/content/docs/concepts/serena-integration.mdx
  docs/src/content/docs/getting-started/mcp-config.mdx
  docs/src/content/docs/getting-started/quickstart.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/changelog.md
  docs/src/content/docs/reference/cli.mdx
  docs/src/content/docs/reference/env-variables.mdx
  docs/src/content/docs/tools/agent-memory.mdx
  docs/src/content/docs/tools/agent-orchestrate.mdx
  docs/src/content/docs/tools/index.mdx
  docs/src/content/docs/tools/project-onboard.mdx
  docs/src/content/docs/tools/task-bootstrap.mdx
  docs/src/content/docs/workflows/reference/onboard-project.mdx
Due: local-biome-check

chore: populate Unreleased changelog + auto-fix unused imports
  CHANGELOG.md
  src/memory/toon-interface.ts
  src/runtime/planning-gate.ts
  src/snapshots/cache_io.ts
  src/snapshots/toon_markdown.ts
  src/tests/architecture-contracts.test.ts
  src/tests/config/orchestration-config-service.test.ts
  src/tests/contracts/runtime.test.ts
  src/tests/infrastructure/graph-orchestration-extra.test.ts
  src/tests/memory/lsp-scan-bridge.test.ts
  src/tests/models/model-profile.test.ts
  src/tests/models/model-router-extra.test.ts
  src/tests/models/multi-model-executor-extra.test.ts
  src/tests/readme-installation.test.ts
  src/tests/runtime/planning-gate.test.ts
  src/tests/skills/qm/qm-uncertainty-tradeoff-extra.test.ts
  src/tests/tools/model-discovery.test.ts
  src/tests/tools/visualization-tools-extra.test.ts
  src/tests/validation/error-handling-extra.test.ts
  src/visualization/glyph-registry.ts
  src/workflows/mermaid-bridge.ts
Due: local-biome-check, local-typescript-check

fix: security update npm
  package-lock.json
  package.json
Due: local-biome-check

fix(docs): adapt Starlight sidebar config for v0.39.0 breaking change
  docs/.astro/collections/docs.schema.json
  docs/.astro/content-modules.mjs
  docs/.astro/content.d.ts
  docs/astro.config.mjs
Due: local-biome-check, local-typescript-check

ci: update ci workflow
  .github/workflows/ci.yml
  .serena/project.yml
  package.json
  scripts/generate-skill-docs.mjs
Due: local-biome-check

chore: remove feature
  package.json
Due: local-biome-check

test: close Codecov patch coverage gaps from PR #1517
  src/tests/cli/hooks.test.ts
  src/tests/cli/skill-hook-emitter.test.ts
  src/tests/index.test.ts
  src/tests/serena/client.test.ts
Due: local-biome-check, local-typescript-check

refactor: move hooks/skills/rules to .claude/
  .claude/hooks/coverage-guard.json
  .claude/hooks/coverage-stability.json
  .claude/hooks/local-tool-sanity.json
  .claude/hooks/no-legacy-tool-surface.json
  .claude/hooks/pr-quality-gate.json
  .claude/hooks/push-ready.json
  .claude/hooks/scripts/coverage-guard.js
  .claude/hooks/scripts/coverage-stability.js
  .claude/hooks/scripts/local-tool-sanity.js
  .claude/hooks/scripts/no-legacy-tool-surface.js
  .claude/hooks/scripts/pr-quality-gate.js
  .claude/hooks/scripts/pre-tool-use.js
  .claude/hooks/scripts/push-ready.js
  .claude/hooks/scripts/refresh-pr-quality-cache.js
  .claude/hooks/scripts/session-start.js
  .claude/rules/copilot.md
  .claude/rules/default.md
  .claude/rules/no-legacy-tool-split.md
  .claude/skills/address-pr-review-locally/SKILL.md
  .claude/skills/fix-codecov-gaps/SKILL.md
  .claude/skills/pr-quality-cycle/SKILL.md
  src/tests/index.test.ts
Due: local-biome-check, local-typescript-check

fix(migration): point hook commands at new .claude/ paths
  .claude/hooks/coverage-guard.json
  .claude/hooks/coverage-stability.json
  .claude/hooks/local-tool-sanity.json
  .claude/hooks/no-legacy-tool-surface.json
  .claude/hooks/pr-quality-gate.json
  .claude/hooks/push-ready.json
  .github/.agent/hooks/pre-tool-use.js
  .github/.agent/hooks/session-start.js
  .github/.agent/rules/copilot.md
  .github/.agent/rules/default.md
  src/tests/cli/local-tool-sanity.test.ts
Due: local-biome-check, local-typescript-check

chore: gitignore Claude harness artifacts under .claude/
  .gitignore
Due: none

docs: point routing-guidance section at .claude/rules/
  README.md
Due: none

test: cover legacy FileSessionStore + assertValidSessionId + request handler edges
  src/tests/index.test.ts
  src/tests/runtime/secure-session-store.test.ts
Due: local-biome-check, local-typescript-check

docs: record .claude/ migration in changelog + flag remaining coverage hotspots
  CHANGELOG.md
  src/runtime/integration.ts
  src/skills/debug/debug-assistant.ts
  src/skills/qm/qm-tunneling-breakthrough.ts
  src/snapshots/symbol-change-tracker.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

test: add isolated tests for main() entry-point function in index.ts
  src/tests/index-main.test.ts
  src/tests/serena/client.test.ts
Due: local-biome-check, local-typescript-check

fix(ci): resolve type-check and audit failures on refactor/remove-toon
  package-lock.json
  src/tests/index-main.test.ts
Due: local-biome-check, local-typescript-check

chore: bump version to v0.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check
