Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

fix: Implement connected custom agent ecosystem for GitHub Copilot Coding Agent (#390)
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
  .github/copilot-setup-steps.yml
  AGENTS.md
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  docs/development/README.md
  docs/development/agent-ecosystem.md
Due: none

fix(tests): align A2A test files with actual implementation
  tests/vitest/a2a-errors.test.ts
  tests/vitest/async-patterns.test.ts
  tests/vitest/execution-controller.test.ts
  tests/vitest/tool-invoker.test.ts
  tests/vitest/trace-logger.test.ts
Due: local-biome-check, local-typescript-check

test(a2a): add coverage for error handling and execution modes
  tests/vitest/execution-controller.test.ts
  tests/vitest/tool-invoker.test.ts
Due: local-biome-check, local-typescript-check

style: fix lint warnings in tool-invoker test
  tests/vitest/tool-invoker.test.ts
Due: local-biome-check, local-typescript-check

chore: update version to 0.12.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: local-biome-check

test(a2a): comprehensive coverage for A2A orchestration modules
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  tests/vitest/agent-orchestrator.test.ts
  tests/vitest/async-patterns.test.ts
  tests/vitest/execution-controller.test.ts
  tests/vitest/tool-invoker.test.ts
  tests/vitest/trace-logger.test.ts
Due: local-biome-check, local-typescript-check

style: fix unused variable in async-patterns test
  tests/vitest/async-patterns.test.ts
Due: local-biome-check, local-typescript-check

test(a2a): add comprehensive coverage for A2A infrastructure tools
  tests/vitest/a2a-coverage-boost.test.ts
Due: local-biome-check, local-typescript-check

fix(docs): correct broken documentation links
  .github/CODE_OF_CONDUCT.md
  AGENTS.md
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  docs/development/agent-ecosystem.md
  docs/tips/a2a-examples.md
  docs/tips/a2a-orchestration-guide.md
Due: none

test: increase coverage for A2A orchestration modules
  tests/vitest/agent-orchestrator.test.ts
  tests/vitest/async-patterns.test.ts
  tests/vitest/execution-controller.test.ts
  tests/vitest/tool-invoker.test.ts
  tests/vitest/trace-logger.test.ts
Due: local-biome-check, local-typescript-check

test: add coverage boost tests for A2A modules
  tests/vitest/agent-orchestrator-coverage-boost.test.ts
  tests/vitest/execution-controller-coverage-boost.test.ts
  tests/vitest/tool-invoker-coverage-boost.test.ts
  tests/vitest/trace-logger-coverage-boost.test.ts
Due: local-biome-check, local-typescript-check

🧪 Enhance test coverage toward 98%/95% quality gates (Phases 1 & 2) (#407)
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  tests/vitest/adr-generator-branches.test.ts
  tests/vitest/coverage-enforcer-branches.test.ts
  tests/vitest/dependency-auditor-critical-branches.test.ts
  tests/vitest/design-assistant-branches.test.ts
  tests/vitest/execution-controller-coverage-boost.test.ts
  tests/vitest/index-handlers-comprehensive.test.ts
  tests/vitest/project-onboarding-execution-branches.test.ts.skip
  tests/vitest/roadmap-spec-generators-branches.test.ts.skip
  tests/vitest/spec-generator-all-branches.test.ts
  tests/vitest/trace-logger-coverage-boost.test.ts
Due: local-biome-check, local-typescript-check

feat: Add mode categories and metadata to models.yaml schema (#416)
  docs/tips/maintaining-models.md
  src/tools/config/models.yaml
  src/tools/config/types/model.types.ts
  tests/vitest/model-schema-enhancement.test.ts
Due: local-biome-check, local-typescript-check

test: Add unit tests for model aliases functionality
  tests/vitest/tools/config/generated/model-aliases.spec.ts
Due: local-biome-check, local-typescript-check

Implement type generation system for models.yaml to eliminate hardcoded model references (#421)
  lefthook.yml
  package.json
  scripts/generate-model-types.js
  scripts/generate-model-types.ts
  scripts/validate-model-config.js
  scripts/validate-model-config.ts
  src/index.ts
  src/tools/config/generated/.gitkeep
  src/tools/config/generated/README.md
  src/tools/config/generated/index.ts
  src/tools/config/generated/mode-enum.ts
  src/tools/config/generated/model-aliases.ts
  src/tools/config/generated/model-identifiers.ts
  src/tools/config/generated/provider-enum.ts
  src/tools/shared/prompt-sections.ts
  src/tools/shared/prompt-utils.ts
  src/tools/shared/types/prompt-sections.types.ts
  tests/unit/run-unit-tests.js
  tests/vitest/additional-coverage.test.ts
  tests/vitest/coverage-dashboard-design-prompt-builder.test.ts
  tests/vitest/coverage-optimization.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/enhanced-coverage-improvement.test.ts
  tests/vitest/function-coverage-enhancement.test.ts
  tests/vitest/hierarchical-prompt-builder.comprehensive.test.ts
  tests/vitest/prompt-sections.test.ts
  tests/vitest/security-hardening-prompt-builder.edge-cases.test.ts
  tests/vitest/tools/config/generated/model-aliases.spec.ts
  tests/vitest/unit/hierarchical-schema.validation.test.ts
Due: local-biome-check, local-typescript-check

Refactor model-compatibility-checker to generate code examples dynamically from models.yaml (#423)
  demos/demo-code-analysis.model-compat.md
  src/tools/config/model-examples.ts
  src/tools/config/model-selectors.ts
  src/tools/config/types/index.ts
  src/tools/model-compatibility-checker.ts
  tests/vitest/tools/config/model-examples.spec.ts
  tests/vitest/tools/config/model-selectors.spec.ts
Due: local-biome-check, local-typescript-check

feat(agents): add mandatory MCP tool usage directives to all agents
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
Due: none

feat(agents): add mandatory MCP tool usage directives to all agents (#428)
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
Due: none

feat: Add auto-sync CI pipeline for monthly AI model updates (#441)
  .github/workflows/sync-ai-models.yml
  docs/tips/maintaining-models.md
  package-lock.json
  package.json
  scripts/generate-model-changelog.js
  scripts/sync-models.js
Due: local-biome-check

Move model type generation to build-time, eliminate dual maintenance (#445)
  .gitignore
  README.md
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  docs/adr/ADR-0001-build-time-model-type-generation.md
  docs/adr/architecture-comparison.md
  lefthook.yml
  package.json
  scripts/generate-model-types.js
  scripts/generate-model-types.ts
  src/tools/config/generated/README.md
  src/tools/config/generated/index.ts
  src/tools/config/generated/mode-enum.ts
  src/tools/config/generated/model-aliases.ts
  src/tools/config/generated/model-identifiers.ts
  src/tools/config/generated/provider-enum.ts
Due: local-biome-check, local-typescript-check

fix: update broken links in references and structured resources
  docs/tips/references.md
  src/resources/structured.ts
Due: local-biome-check, local-typescript-check

fix: update broken links in references and structured resources (#452)
  docs/tips/references.md
  src/resources/structured.ts
Due: local-biome-check, local-typescript-check

Fix Docker build: Copy scripts/ directory for model type generation (#451)
  Dockerfile
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
Due: none

Release v0.12.1 with Docker build fix and documentation improvements (#454)
  CHANGELOG.md
  RELEASE_v0.12.1_INSTRUCTIONS.md
  package.json
Due: local-biome-check

Fix build pipeline: generate types before type-check (#468)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  lefthook.yml
  package.json
Due: local-biome-check

Refactor agent configurations to replace hardcoded model defaults with dynamic tool lists, enhancing flexibility and maintainability.
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
Due: none

Enhance agent configurations by adding 'shell', 'edit', and 'runTests' tools across multiple agents; update copilot instructions for specialized agent delegation.
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/copilot-instructions.md
Due: none

Sync models.yaml with GitHub Copilot documentation - Add GPT-5.2, GPT-5.1-Codex, GPT-5.1-Codex-Mini (#476)
  demos/demo-code-analysis.model-compat.md
  src/tools/config/models.yaml
Due: none

Remove outdated release and trusted publisher setup documentation
  RELEASE_v0.12.1_INSTRUCTIONS.md
  TRUSTED_PUBLISHER_SETUP.md
Due: none

chore: bump version to 0.12.2 in package.json
  package-lock.json
  package.json
Due: local-biome-check

Migrate npm publishing to trusted publisher (OIDC) - remove NPM_TOKEN (#478)
  .github/workflows/ci-cd.yml
  RELEASE_v0.12.1_INSTRUCTIONS.md
  package-lock.json
  package.json
Due: local-biome-check

chore: update npm publishing process to use trusted publishers (OIDC) and verify npm version; bump version to 0.12.3
  .github/workflows/ci-cd.yml
  package.json
Due: local-biome-check

feat: add parse-model-docs module for CI model sync workflow (#481)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  scripts/parse-model-docs.js
  scripts/sync-models.js
  tests/vitest/scripts/parse-model-docs.spec.ts
Due: local-biome-check, local-typescript-check

Copilot/fix 467 (#488)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  tests/vitest/integration/model-pipeline.spec.ts
Due: local-biome-check, local-typescript-check

chore(release): bump version to 0.12.4
  package.json
Due: local-biome-check

docs(changelog): add v0.12.4 entry
  CHANGELOG.md
Due: none
