Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

chore(release): bump version to 0.12.4 (#490)
  CHANGELOG.md
  package.json
Due: local-biome-check

refactor: simplify regex patterns in PieHandler and add comprehensive tests for diagram validation and accessibility utilities
  src/tools/mermaid/handlers/pie.handler.ts
  tests/vitest/mermaid/pie.handler.test.ts
  tests/vitest/mermaid/utils.test.ts
  tests/vitest/mermaid/validator.test.ts
Due: local-biome-check, local-typescript-check

test: add unit tests for BaseDiagramHandler, FlowchartHandler, and additional diagram types
  tests/vitest/mermaid/base.handler.test.ts
  tests/vitest/mermaid/flowchart.handler.test.ts
  tests/vitest/mermaid/mermaid-diagram-generator.additional.test.ts
  tests/vitest/mermaid/validator.test.ts
Due: local-biome-check, local-typescript-check

tests(mermaid): cover accessibility branches + fix linter warnings; ci: coverage-patch workflow spacing
  .github/workflows/coverage-patch.yml
  .gitignore
  package.json
  scripts/coverage-patch-wrapper.js
  scripts/coverage-patch.mjs
  src/tools/mermaid/index.ts
  tests/vitest/mermaid/index.unit.test.ts
  tests/vitest/scripts/coverage-patch.test.ts
Due: local-biome-check, local-typescript-check

feat(coverage-patch): enhance coverage report with snippet and suggestion details; add test for branch classification
  .github/workflows/coverage-patch.yml
  scripts/coverage-patch.mjs
  src/foo.js
  tests/vitest/scripts/coverage-patch.test.ts
Due: local-biome-check, local-typescript-check

ci: generate model types and build before running tests in coverage-patch workflow
  .github/workflows/coverage-patch.yml
Due: none

test(mermaid): add sequence/state/repair tests and enforce branch coverage check in CI
  .github/workflows/coverage-patch.yml
  scripts/check-branch-coverage.mjs
  tests/vitest/mermaid/repair.utils.spec.ts
  tests/vitest/mermaid/sequence.handler.test.ts
  tests/vitest/mermaid/state.handler.test.ts
Due: local-biome-check, local-typescript-check

feat: refactor handler registry initialization and add comprehensive tests
  src/tools/mermaid/handlers/gantt.handler.ts
  src/tools/mermaid/index.ts
  tests/vitest/mermaid/class.branches.test.ts
  tests/vitest/mermaid/class.handler.additional.test.ts
  tests/vitest/mermaid/class.handler.test.ts
  tests/vitest/mermaid/er.handler.test.ts
  tests/vitest/mermaid/flowchart.handler.additional.test.ts
  tests/vitest/mermaid/gantt.branches.test.ts
  tests/vitest/mermaid/gantt.handler.test.ts
  tests/vitest/mermaid/handlers.index.exports.test.ts
  tests/vitest/mermaid/index.additional.test.ts
  tests/vitest/mermaid/index.branches.test.ts
  tests/vitest/mermaid/sequence-state.additional.test.ts
  tests/vitest/mermaid/sequence.branches.test.ts
  tests/vitest/mermaid/state.branches.test.ts
  tests/vitest/mermaid/utils.index.test.ts
  tests/vitest/server.handlers.coverage.test.ts
Due: local-biome-check, local-typescript-check

feat(trace-logger): add forceCleanupOldSpans method for deterministic testing
  src/tools/shared/trace-logger.ts
  tests/vitest/trace-logger-coverage-boost.test.ts
Due: local-biome-check, local-typescript-check

tests(mermaid): merge Gantt branches into single test file and skip originals
  scripts/coverage-patch.mjs
  tests/vitest/helpers/mermaid-test-utils.ts
  tests/vitest/mermaid/class.branches2.test.ts
  tests/vitest/mermaid/class.extra.test.ts
  tests/vitest/mermaid/class.more.test.ts
  tests/vitest/mermaid/class.relationships.test.ts
  tests/vitest/mermaid/gantt.branches.test.ts
  tests/vitest/mermaid/gantt.multitask.test.ts
  tests/vitest/mermaid/gantt.parse.sections.test.ts
  tests/vitest/mermaid/index.additional-coverage.test.ts
  tests/vitest/mermaid/index.batch2.test.ts
  tests/vitest/mermaid/index.branches2.test.ts
  tests/vitest/mermaid/index.extra.branches.test.ts
  tests/vitest/mermaid/mermaid-diagram-generator.branches.test.ts
  tests/vitest/mermaid/sequence.autonumber.test.ts
  tests/vitest/mermaid/state.transitions.test.ts
  tests/vitest/mermaid/validator.additional.test.ts
  tests/vitest/server.index.test.ts
  tests/vitest/trace-logger-coverage-boost.test.ts
Due: local-biome-check, local-typescript-check

refactor(tests): consolidate and enhance ClassHandler tests, remove duplicates
  tests/vitest/mermaid/class.branches.test.ts
  tests/vitest/mermaid/class.branches2.test.ts
  tests/vitest/mermaid/gantt.branches.test.ts
  tests/vitest/mermaid/index.branches.test.ts
  tests/vitest/mermaid/index.branches2.test.ts
Due: local-biome-check, local-typescript-check

chore(ci): add check:branch-coverage script; remove duplicate check-coverage.js
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  package.json
  scripts/check-branch-coverage.mjs
  scripts/check-coverage.js
  scripts/coverage-patch.mjs
  src/branched.js
  tests/vitest/scripts/check-branch-coverage.test.ts
  tests/vitest/scripts/coverage-patch.test.ts
Due: local-biome-check, local-typescript-check

refactor: improve code structure and add tests for dependency auditor and mermaid diagram generator
  src/tools/dependency-auditor.ts
  src/tools/project-onboarding.ts
  tests/vitest/dependency-auditor/legacy-branches.test.ts
  tests/vitest/mermaid/flowchart.branches.test.ts
  tests/vitest/scripts/coverage-patch.test.ts
  tests/vitest/tmp/foo.js
  tests/vitest/tools/mermaid/mermaid-diagram-generator.spec.ts
  tests/vitest/tools/project-onboarding.spec.ts
Due: local-biome-check, local-typescript-check

refactor: standardize formatting in multiple test files and source code
  tests/vitest/agent-orchestrator.branches.test.ts
  tests/vitest/design/cross-session-consistency-enforcer.branches.test.ts
  tests/vitest/design/roadmap-generator.branches.test.ts
Due: local-biome-check, local-typescript-check

Lower branch coverage threshold from 90 to 85
  .github/workflows/coverage-patch.yml
Due: none

Lower branch coverage threshold from 90 to 85 (#499)
  .github/workflows/coverage-patch.yml
Due: none

Bump version from 0.12.4 to 0.12.5
  package.json
Due: local-biome-check

Bump version from 0.12.4 to 0.12.5 (#500)
  package.json
Due: local-biome-check

fix: resolve npm audit vulnerability and code quality issues
  .github/workflows/coverage-patch.yml
  package-lock.json
  package.json
  src/branched.js
  src/foo.js
  src/tools/mermaid/handlers/gantt.handler.ts
Due: local-biome-check, local-typescript-check

Add 'shell', 'edit', and 'runTests' tools to multiple agent configurations
  .github/agents/changelog-curator.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/security-auditor.agent.md
Due: none

fix: resolve Vitest test failures in CI
  tests/vitest/mermaid/index.branches.test.ts
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

Refactor: Extract conditional patterns from 5 high-complexity prompt builders + Branch coverage improvements (#505)
  src/branched.js
  src/tools/clean-code-scorer.ts
  src/tools/code-hygiene-analyzer.ts
  src/tools/dependency-auditor.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/shared/prompt-utils.ts
  tests/vitest/dependency-auditor-branch-coverage.test.ts
  tests/vitest/tmp/foo.js
Due: local-biome-check, local-typescript-check

Break cyclic dependency in design types and document action handler extraction strategy (#504)
  .gitignore
  docs/adr/ADR-0003-design-assistant-action-handler-extraction.md
  src/tools/design/types/common.types.ts
  src/tools/design/types/methodology.types.ts
  src/tools/design/types/session.types.ts
  tests/vitest/coverage-enforcer-missing-branches.test.ts
  tests/vitest/design-system-branch-coverage.test.ts
Due: local-biome-check, local-typescript-check

Consolidate IMPLEMENTATION_STATUS exports into DESIGN_MODULE_STATUSES (#507)
  .gitignore
  CHANGELOG.md
  src/foo.js
  src/tools/design/index.ts
Due: local-biome-check, local-typescript-check

Bump version from 0.12.4 to 0.12.6
  package.json
Due: local-biome-check

Bump version from 0.12.4 to 0.12.6 (#508)
  package.json
Due: local-biome-check

feat(plan): complete Phase 4 issue drafts (P4-001 to P4-024)
  plan-v0.13.x/issues-draft/501-sub-analyze-constitution-structure.md
  plan-v0.13.x/issues-draft/502-sub-implement-constitution-parser.md
  plan-v0.13.x/issues-draft/503-sub-create-speckit-types.md
  plan-v0.13.x/issues-draft/504-sub-implement-speckit-spec-generation.md
  plan-v0.13.x/issues-draft/505-sub-implement-speckit-plan-generation.md
  plan-v0.13.x/issues-draft/506-sub-implement-task-derivation.md
  plan-v0.13.x/issues-draft/507-sub-implement-speckit-tasks-generation.md
  plan-v0.13.x/issues-draft/508-sub-implement-speckit-progress-generation.md
  plan-v0.13.x/issues-draft/509-sub-wire-speckit-to-gateway.md
  plan-v0.13.x/issues-draft/510-sub-add-speckit-generator-tool.md
  plan-v0.13.x/issues-draft/511-sub-design-assistant-speckit-integration.md
  plan-v0.13.x/issues-draft/512-sub-speckit-strategy-selection.md
  plan-v0.13.x/issues-draft/513-sub-implement-spec-validator.md
  plan-v0.13.x/issues-draft/514-sub-add-validation-to-speckit.md
  plan-v0.13.x/issues-draft/515-sub-create-validation-report-format.md
  plan-v0.13.x/issues-draft/516-sub-add-validate-spec-tool.md
  plan-v0.13.x/issues-draft/517-sub-implement-progress-tracker.md
  plan-v0.13.x/issues-draft/518-sub-git-integration-progress.md
  plan-v0.13.x/issues-draft/519-sub-add-update-progress-tool.md
  plan-v0.13.x/issues-draft/520-sub-create-speckit-demo.md
  plan-v0.13.x/issues-draft/521-sub-comprehensive-speckit-tests.md
  plan-v0.13.x/issues-draft/522-sub-speckit-documentation.md
  plan-v0.13.x/issues-draft/523-sub-export-speckit-barrel.md
  plan-v0.13.x/issues-draft/524-sub-final-integration-testing.md
Due: none

fix: update flowchart direction from TB to LR in Phase 1, Phase 2, and Phase 3 documents
  plan-v0.13.x/issues-draft/001-parent-phase1-discoverability.md
  plan-v0.13.x/issues-draft/002-parent-phase2-domain-extraction.md
  plan-v0.13.x/issues-draft/003-parent-phase3-broken-tools.md
Due: none

feat: add automated GitHub issue creation scripts and labeling guide
  docs/ISSUE-LABELS.md
  scripts/README.md
  scripts/create-github-issues.js
Due: local-biome-check

fix: optimize file handling in GitHub issue creation script
  scripts/create-github-issues.js
Due: local-biome-check

feat: add milestone definitions and creation functionality for GitHub issues
  plan-v0.13.x/issues-draft/milestones.md
  scripts/README.md
  scripts/create-github-issues.js
Due: local-biome-check

feat: enhance GitHub issue creation with label management and milestone matching
  scripts/create-github-issues.js
Due: local-biome-check

feat: enhance task tables with descriptions for better clarity and organization
  plan-v0.13.x/issues-draft/001-parent-phase1-discoverability.md
  plan-v0.13.x/issues-draft/002-parent-phase2-domain-extraction.md
  plan-v0.13.x/issues-draft/003-parent-phase3-broken-tools.md
  plan-v0.13.x/issues-draft/004-parent-phase4-speckit-integration.md
Due: none

feat: add scripts for GitHub issue cleanup, validation, and enhanced issue creation functionality
  scripts/cleanup-github.sh
  scripts/create-github-issues.js
  scripts/validate-issue-structure.sh
Due: local-biome-check
