Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

feat(qual): ground code analysis in referenced source content
  src/skills/qual/qual-code-analysis.ts
  src/tests/skills/qual/qual-code-analysis-grounding.test.ts
Due: local-biome-check, local-typescript-check

feat(arch): ground system design in referenced file content
  src/skills/arch/arch-system.ts
  src/tests/skills/arch/arch-system-grounding.test.ts
Due: local-biome-check, local-typescript-check

feat(req): ground scope boundaries in referenced modules
  src/skills/req/req-scope.ts
  src/tests/skills/req/req-scope-grounding.test.ts
Due: local-biome-check, local-typescript-check

feat(directive): suppress generic-mode banner when output is workspace-grounded
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first-grounding.test.ts
Due: local-biome-check, local-typescript-check

docs(skills): sanction workspace grounding in the handler contract + changelog
  CHANGELOG.md
  src/skills/runtime/contracts.ts
Due: local-biome-check, local-typescript-check

fix(ci): repair pipeline after physics removal — sidebar, python tests, orphaned dep
  docs/astro.config.mjs
  package-lock.json
  package.json
  scripts/test_generate_tool_definitions.py
Due: local-biome-check

test: close codecov patch gaps on new grounding + alias code
  src/tests/config/orchestration-config-alias.test.ts
  src/tests/skills/arch/arch-system-grounding.test.ts
  src/tests/skills/debug/debug-root-cause-grounding.test.ts
  src/tests/skills/runtime/workspace-adapter.test.ts
Due: local-biome-check, local-typescript-check

refactor!: remove MCP sampler round-trip; directive is the honest model
  CHANGELOG.md
  docs/adr/0001-remove-sampler-round-trip.md
  docs/superpowers/plans/2026-07-03-workspace-grounding.md
  evals/RESULTS.md
  src/contracts/runtime.ts
  src/index.ts
  src/runtime/attach-sampler.ts
  src/skills/shared/analyze-or-directive.ts
  src/skills/shared/directive-first.ts
  src/skills/shared/workspace-grounding.ts
  src/tests/runtime/attach-sampler.test.ts
  src/tests/skills/shared/analyze-or-directive.test.ts
  src/tests/skills/shared/directive-first-grounding.test.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/shared/sampler.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/result-formatter.ts
  src/tools/shared/sampler.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

refactor!: remove MCP sampler round-trip; directive is the honest model (#1604)
  CHANGELOG.md
  docs/adr/0001-remove-sampler-round-trip.md
  docs/superpowers/plans/2026-07-03-workspace-grounding.md
  evals/RESULTS.md
  src/contracts/runtime.ts
  src/index.ts
  src/runtime/attach-sampler.ts
  src/skills/shared/analyze-or-directive.ts
  src/skills/shared/directive-first.ts
  src/skills/shared/workspace-grounding.ts
  src/tests/runtime/attach-sampler.test.ts
  src/tests/skills/shared/analyze-or-directive.test.ts
  src/tests/skills/shared/directive-first-grounding.test.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/shared/sampler.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/result-formatter.ts
  src/tools/shared/sampler.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

feat: envelope schema versioning policy + headless grounding consumer
  docs/adr/0002-envelope-schema-versioning-policy.md
  evals/fixtures/src/payments/charge.ts
  evals/workspace-grounding-consumer.mjs
  evals/workspace-grounding-results.json
  evals/workspace-grounding.md
  src/tests/evals/workspace-grounding-consumer.test.ts
  src/tests/tools/shared/output-envelope.test.ts
  src/tools/shared/error-handler.ts
  src/tools/shared/output-envelope.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

feat: envelope schema versioning policy + headless grounding consumer (#1606)
  docs/adr/0002-envelope-schema-versioning-policy.md
  evals/fixtures/src/payments/charge.ts
  evals/workspace-grounding-consumer.mjs
  evals/workspace-grounding-results.json
  evals/workspace-grounding.md
  src/tests/evals/workspace-grounding-consumer.test.ts
  src/tests/tools/shared/output-envelope.test.ts
  src/tools/shared/error-handler.ts
  src/tools/shared/output-envelope.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

docs: implementation plan for technique catalog + grounding + auto-mode (#1605 #1601 #1445)
  docs/superpowers/plans/2026-07-05-technique-catalog-grounding-automode.md
Due: none

test: characterization baseline for prompt-engineering artifacts
  src/tests/skills/prompt/prompt-engineering-baseline.test.ts
Due: local-biome-check, local-typescript-check

feat(prompt): add ported technique catalog (12 entries, MIT)
  src/skills/prompt/technique-catalog.ts
  src/tests/skills/prompt/technique-catalog.test.ts
Due: local-biome-check, local-typescript-check

feat(prompt): deterministic technique selector (refutable triggers)
  src/skills/prompt/technique-selector.ts
  src/tests/skills/prompt/technique-selector.test.ts
Due: local-biome-check, local-typescript-check

test(prompt): add refutable negative triggers for 4 techniques
  src/tests/skills/prompt/technique-selector.test.ts
Due: local-biome-check, local-typescript-check

feat(prompt): surface selected technique in prompt-engineering
  src/skills/prompt/prompt-engineering.ts
  src/tests/skills/prompt/prompt-engineering.test.ts
Due: local-biome-check, local-typescript-check

feat(prompt): worked-example cards for 7 first-class techniques
  src/skills/prompt/prompt-engineering.ts
  src/skills/prompt/technique-catalog.ts
  src/skills/prompt/technique-examples.ts
  src/skills/prompt/technique-selector.ts
  src/tests/skills/prompt/prompt-engineering.test.ts
  src/tests/skills/prompt/technique-examples.test.ts
Due: local-biome-check, local-typescript-check

test(prompt): escalation integrity + catalog-only decision space complete
  src/tests/skills/prompt/technique-catalog.test.ts
  src/tests/skills/prompt/technique-selector.test.ts
Due: local-biome-check, local-typescript-check

docs(prompt): document technique catalog + selector (1605 Phase 5)
  docs/src/content/docs/skills/prompting.md
Due: none

docs(prompt): correct deferred-technique count and ADR link
  docs/src/content/docs/skills/prompting.md
Due: none

feat(grounding): thread SerenaClient into SkillExecutionRuntime (#1601)
  src/contracts/runtime.ts
  src/skills/skill-registry.ts
  src/tests/skills/shared/serena-grounding.test.ts
  src/tests/skills/test-helpers.ts
Due: local-biome-check, local-typescript-check

feat(grounding): additive Serena symbol grounding (#1601)
  src/skills/debug/debug-root-cause.ts
  src/skills/shared/workspace-grounding.ts
  src/tests/skills/debug/debug-root-cause-grounding.test.ts
  src/tests/skills/shared/serena-grounding.test.ts
Due: local-biome-check, local-typescript-check

fix(grounding): guard symbol-grounding fallback against stopword seeds (#1601)
  src/skills/shared/workspace-grounding.ts
  src/tests/skills/shared/serena-grounding.test.ts
Due: local-biome-check, local-typescript-check

test(auto-mode): lock 1445 session-start/opt-out/slim/hooks invariants (#1445)
  src/tests/instructions/instruction-registry.test.ts
Due: local-biome-check, local-typescript-check

feat(auto-mode): add anti-pattern clauses to workflow tool descriptions (#1445 item 5)
  src/generated/instructions/debug.ts
  src/generated/instructions/design.ts
  src/generated/instructions/document.ts
  src/generated/instructions/evaluate.ts
  src/generated/instructions/implement.ts
  src/generated/instructions/prompt-engineering.ts
  src/generated/instructions/refactor.ts
  src/generated/instructions/review.ts
  src/generated/instructions/testing.ts
  src/instructions/instruction-specs.ts
Due: local-biome-check, local-typescript-check

fix(grounding): thread serena into integrated runtime dispatch path (#1601)
  src/index.ts
  src/tests/runtime/serena-wiring.test.ts
Due: local-biome-check, local-typescript-check

refactor: resolve deferred review minors (selector gate, exact test bound, dead helper)
  src/skills/prompt/technique-selector.ts
  src/tests/skills/prompt/prompt-engineering.test.ts
  src/tests/skills/test-helpers.ts
Due: local-biome-check, local-typescript-check

fix(grounding): correct evidenceAnchors semantics + close patch coverage (#1601 #1608)
  src/skills/shared/workspace-grounding.ts
  src/tests/skills/prompt/prompt-engineering.test.ts
  src/tests/skills/prompt/technique-catalog.test.ts
  src/tests/skills/prompt/technique-selector.test.ts
  src/tests/skills/shared/serena-grounding.test.ts
Due: local-biome-check, local-typescript-check

feat(prompt): adopt universal-creator technique catalog + selector; Serena symbol grounding; auto-mode audit (#1605 #1601 #1445) (#1608)
  docs/src/content/docs/skills/prompting.md
  docs/superpowers/plans/2026-07-05-technique-catalog-grounding-automode.md
  src/contracts/runtime.ts
  src/generated/instructions/debug.ts
  src/generated/instructions/design.ts
  src/generated/instructions/document.ts
  src/generated/instructions/evaluate.ts
  src/generated/instructions/implement.ts
  src/generated/instructions/prompt-engineering.ts
  src/generated/instructions/refactor.ts
  src/generated/instructions/review.ts
  src/generated/instructions/testing.ts
  src/index.ts
  src/instructions/instruction-specs.ts
  src/skills/debug/debug-root-cause.ts
  src/skills/prompt/prompt-engineering.ts
  src/skills/prompt/technique-catalog.ts
  src/skills/prompt/technique-examples.ts
  src/skills/prompt/technique-selector.ts
  src/skills/shared/workspace-grounding.ts
  src/skills/skill-registry.ts
  src/tests/instructions/instruction-registry.test.ts
  src/tests/runtime/serena-wiring.test.ts
  src/tests/skills/debug/debug-root-cause-grounding.test.ts
  src/tests/skills/prompt/prompt-engineering-baseline.test.ts
  src/tests/skills/prompt/prompt-engineering.test.ts
  src/tests/skills/prompt/technique-catalog.test.ts
  src/tests/skills/prompt/technique-examples.test.ts
  src/tests/skills/prompt/technique-selector.test.ts
  src/tests/skills/shared/serena-grounding.test.ts
  src/tests/skills/test-helpers.ts
Due: local-biome-check, local-typescript-check

fix(ci): stop Trivy from blocking releases on vulnerability findings
  .github/workflows/release.yml
Due: none

chore(deps): de-duplicate Renovate and Dependabot, group non-major bumps
  .github/dependabot.yml
  renovate.json
Due: local-biome-check

fix: address Copilot review comments on PR #1610
  .github/workflows/release.yml
  src/tests/runtime/orchestration-runtime.test.ts
  src/tests/visualization/glyph-registry.test.ts
Due: local-biome-check, local-typescript-check

fix: address Trivy HIGH/CRITICAL vulnerabilities (#1631)
  package.json
Due: local-biome-check
