Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

refactor: update package name and version in package.json and package-lock.json; enhance index.ts to use dynamic versioning
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: local-biome-check, local-typescript-check

refactor: update references from 'mcp-ai-agent-guidelines' to 'ai-agent-guidelines' in README and package.json
  README.md
  demos/README.md
  package.json
Due: local-biome-check

feat: enhances prompt builder with advanced options
  package.json
  src/index.ts
  src/resources/structured.ts
  src/tools/hierarchical-prompt-builder.ts
Due: local-biome-check, local-typescript-check

feat: create `dependabot.yml` for security
  .github/dependabot.yml
Due: none

feat: replace `dependabot.yml` with `renovate.json` for dependency management
  .github/dependabot.yml
  renovate.json
Due: local-biome-check

feat: Enhance prompt builders with shared utility functions and new features
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .gitignore
  README.md
  demos/README.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.hierachical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.mermaid.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-code-analysis.validator.md
  demos/demo-tools.js
  package-lock.json
  package.json
  reference/concrete-example-prompt.md
  reference/generic-prompt.md
  reference/more-generic-prompt.md
  src/index.ts
  src/prompts/index.ts
  src/tools/code-hygiene-analyzer.ts
  src/tools/domain-neutral-prompt-builder.ts
  src/tools/guidelines-validator.ts
  src/tools/hierarchical-prompt-builder.ts
  src/tools/memory-context-optimizer.ts
  src/tools/mermaid-diagram-generator.ts
  src/tools/shared/prompt-sections.ts
  src/tools/shared/prompt-utils.ts
  src/tools/spark-prompt-builder.ts
  src/tools/sprint-timeline-calculator.ts
  tests/test-server.js
  tests/unit/run-unit-tests.js
Due: local-biome-check, local-typescript-check

feat: add Vitest testing framework and implement comprehensive test suite
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  package-lock.json
  package.json
  tests/vitest/domain-neutral-builder.negative.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/guidelines-validator.test.ts
  tests/vitest/hierarchical-builder.negative.test.ts
  tests/vitest/hierarchical-builder.test.ts
  tests/vitest/memory-context-optimizer.test.ts
  tests/vitest/mermaid-diagram-generator.more.test.ts
  tests/vitest/mermaid-diagram-generator.test.ts
  tests/vitest/model-compatibility-checker.test.ts
  tests/vitest/prompt-sections.test.ts
  tests/vitest/prompt-utils.test.ts
  tests/vitest/prompts.index.test.ts
  tests/vitest/resources.index.test.ts
  tests/vitest/smoke.test.ts
  tests/vitest/spark-prompt-builder.negative.test.ts
  tests/vitest/spark-prompt-builder.test.ts
  tests/vitest/sprint-timeline-calculator.test.ts
  vitest.config.ts
Due: local-biome-check, local-typescript-check

feat: enhance CI/CD pipeline with Codecov integration and permissions adjustments
  .github/workflows/ci-cd.yml
Due: none

fix: replace Codecov badge with Coverage Status badge
  README.md
Due: none

feat: add domain-neutral, hierarchical, and spark prompt builders with validation schemas
  src/index.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/spark-prompt-builder.ts
Due: local-biome-check, local-typescript-check

feat: add strategy frameworks builder tool for comprehensive strategy analysis
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-code-strategy-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  package-lock.json
  src/index.ts
  src/tools/analysis/strategy-frameworks-builder.ts
  tests/vitest/strategy-frameworks-builder.test.ts
Due: local-biome-check, local-typescript-check

fix: update import paths for strategy frameworks and prompt builders feat: add gap frameworks analyzers tool
  demos/demo-tools.js
  src/tools/analysis/gap-frameworks-analyzers.ts
Due: local-biome-check, local-typescript-check

fix: update import paths for prompt builders to reflect new directory structure
  tests/vitest/domain-neutral-builder.negative.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/hierarchical-builder.negative.test.ts
  tests/vitest/hierarchical-builder.test.ts
  tests/vitest/smoke.test.ts
  tests/vitest/spark-prompt-builder.negative.test.ts
  tests/vitest/spark-prompt-builder.test.ts
Due: local-biome-check, local-typescript-check

test: add unit tests for code hygiene analyzer, memory context optimizer, model compatibility checker, server index boot, sprint timeline calculator, and strategy frameworks builder
  tests/vitest/code-hygiene-analyzer.test.ts
  tests/vitest/memory-context-optimizer.more.test.ts
  tests/vitest/model-compatibility-checker.more.test.ts
  tests/vitest/server.index.test.ts
  tests/vitest/sprint-timeline-calculator.more.test.ts
  tests/vitest/strategy-frameworks-builder.diagrams.test.ts
  tests/vitest/strategy-frameworks-builder.negative.test.ts
Due: local-biome-check, local-typescript-check

Bump version to 0.6.0 in package.json
  package-lock.json
  package.json
Due: local-biome-check

Feature/strategy-builder (#18)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-code-strategy-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  package-lock.json
  package.json
  src/index.ts
  src/tools/analysis/gap-frameworks-analyzers.ts
  src/tools/analysis/strategy-frameworks-builder.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/spark-prompt-builder.ts
  tests/vitest/code-hygiene-analyzer.test.ts
  tests/vitest/domain-neutral-builder.negative.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/hierarchical-builder.negative.test.ts
  tests/vitest/hierarchical-builder.test.ts
  tests/vitest/memory-context-optimizer.more.test.ts
  tests/vitest/model-compatibility-checker.more.test.ts
  tests/vitest/server.index.test.ts
  tests/vitest/smoke.test.ts
  tests/vitest/spark-prompt-builder.negative.test.ts
  tests/vitest/spark-prompt-builder.test.ts
  tests/vitest/sprint-timeline-calculator.more.test.ts
  tests/vitest/strategy-frameworks-builder.diagrams.test.ts
  tests/vitest/strategy-frameworks-builder.negative.test.ts
  tests/vitest/strategy-frameworks-builder.test.ts
Due: local-biome-check, local-typescript-check

docs: Revise disclaimer in README for clarity
  README.md
Due: none

fix: Refactor formatting of frameworks validation in GapFrameworkSchema for improved readability
  src/tools/analysis/gap-frameworks-analyzers.ts
Due: local-biome-check, local-typescript-check

Release v0.6.0 - Complete Analysis Framework Implementation (#27)
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  package-lock.json
  package.json
  src/index.ts
  src/tools/analysis/gap-frameworks-analyzers.ts
  tests/vitest/gap-frameworks-analyzers.edge-cases.test.ts
  tests/vitest/gap-frameworks-analyzers.negative.test.ts
  tests/vitest/gap-frameworks-analyzers.test.ts
Due: local-biome-check, local-typescript-check

Update README.md to use Shields.io badges for status, coverage, and more (#31)
  README.md
Due: none

✨ Update all issue templates to follow GitHub Forms best practices (#29)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Update README.md
  README.md
Due: none

Update src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
Due: local-biome-check, local-typescript-check

Update src/prompts/index.ts
  src/prompts/index.ts
Due: local-biome-check, local-typescript-check

✨ Add Security Hardening Prompter with OWASP Risk Methodology &amp; Security Analysis Tools (#33)
  README.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  src/index.ts
  src/prompts/index.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  tests/unit/run-unit-tests.js
  tests/vitest/additional-coverage.test.ts
  tests/vitest/domain-neutral-builder.edge-cases.test.ts
  tests/vitest/hierarchical-prompt-builder.comprehensive.test.ts
  tests/vitest/prompts.index.test.ts
  tests/vitest/security-analysis-prompt.test.ts
  tests/vitest/security-hardening-prompt-builder.edge-cases.test.ts
  tests/vitest/security-hardening-prompt-builder.test.ts
  tests/vitest/server.index.test.ts
  tests/vitest/server.main.test.ts
  tests/vitest/spark-prompt-builder.comprehensive.test.ts
  tests/vitest/spark-prompt-builder.edge-cases.test.ts
  tests/vitest/strategy-frameworks-builder.comprehensive.test.ts
Due: local-biome-check, local-typescript-check

🧪 Improve test coverage for edge cases and server handlers to meet diff coverage target (#37)
  tests/vitest/guidelines-validator.edge-coverage.test.ts
  tests/vitest/memory-context-optimizer.edge-coverage.test.ts
  tests/vitest/server.handlers.coverage.test.ts
  tests/vitest/sprint-timeline-calculator.edge-coverage.test.ts
  tsconfig.json
Due: local-biome-check, local-typescript-check

🔧 Refactor imports and improve error messages for design tools
  src/index.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/index.ts
Due: local-biome-check, local-typescript-check

✨ Implement deterministic, context-driven Design Assistant & Constraint Framework for MCP Server (#47)
  .github/workflows/ci-cd.yml
  .github/workflows/lefthook-quality-gates.yml
  .pre-commit-config.yaml
  README.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-design-assistant.adr.md
  demos/demo-design-assistant.js
  demos/demo-design-assistant.roadmap.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/design-assistant-summary.md
  lefthook.yml
  package-lock.json
  package.json
  src/index.ts
  src/tools/design/adr-generator.ts
  src/tools/design/config/design-constraints.yaml
  src/tools/design/confirmation-module.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/index.ts
  src/tools/design/pivot-module.ts
  src/tools/design/roadmap-generator.ts
  src/tools/design/spec-generator.ts
  src/tools/design/types.ts
  tests/vitest/design-assistant.test.ts
Due: local-biome-check, local-typescript-check

Changes before error encountered
  .github/workflows/ci-cd.yml
  .github/workflows/lefthook-quality-gates.yml
Due: none

✨ [Feature] Space 7-Driven Methodology Selector with Robust Gitleaks Integration (#49)
  .github/workflows/ci-cd.yml
  .github/workflows/lefthook-quality-gates.yml
  README.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-methodology-selector.js
  demos/demo-strategy-frameworks.md
  lefthook.yml
  src/tools/design/confirmation-module.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/index.ts
  src/tools/design/methodology-selector.ts
  src/tools/design/spec-generator.ts
  src/tools/design/types.ts
  tests/unit/run-unit-tests.js
  tests/unit/test-methodology-selector.js
  tests/vitest/additional-design-tools-coverage.test.ts
  tests/vitest/config-modules-coverage.test.ts
  tests/vitest/design-tools-direct.test.ts
  tests/vitest/function-coverage-enhancement.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
  tests/vitest/roadmap-generator-comprehensive.test.ts
  tests/vitest/spec-generator-comprehensive.test.ts
Due: local-biome-check, local-typescript-check

✨ Implement Deterministic Confirmation Prompt Module for MCP Server Design Sessions (#51)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-confirmation-prompt-module.js
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/tools/design/confirmation-module.ts
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/index.ts
  tests/vitest/confirmation-prompt-builder.test.ts
  tests/vitest/enhanced-confirmation-module.test.ts
Due: local-biome-check, local-typescript-check

Update tests/vitest/design-assistant-strategic-pivot.test.ts
  tests/vitest/design-assistant-strategic-pivot.test.ts
Due: local-biome-check, local-typescript-check

Update tests/vitest/strategic-pivot-prompt-builder.test.ts
  tests/vitest/strategic-pivot-prompt-builder.test.ts
Due: local-biome-check, local-typescript-check

✨ Implement Strategic Pivot Prompt Module for Adaptive MCP Design Sessions (#52)
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/index.ts
  src/tools/design/strategic-pivot-prompt-builder.ts
  src/tools/design/types.ts
  tests/vitest/design-assistant-strategic-pivot.test.ts
  tests/vitest/strategic-pivot-prompt-builder.test.ts
Due: local-biome-check, local-typescript-check

✨ Implement Cross-Session Constraints Consistency Enforcement for MCP Server Tools (#54)
  demos/demo-constraint-consistency.js
  src/index.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/index.ts
  src/tools/design/types.ts
  tests/vitest/constraint-consistency-enforcer.test.ts
  tests/vitest/design-assistant-consistency-integration.test.ts
Due: local-biome-check, local-typescript-check

✨ Implement Cross-Session Constraints Consistency Enforcement with Space 7 Integration and Enhanced Test Coverage (#53)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/tools/design/cross-session-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/index.ts
  src/tools/design/types.ts
  tests/vitest/constraint-consistency-enforcer.test.ts
  tests/vitest/cross-session-consistency-enforcer.test.ts
  tests/vitest/cross-session-consistency-integration.test.ts
  tests/vitest/index-integration.test.ts
  tests/vitest/tool-coverage-enhancement.test.ts
Due: local-biome-check, local-typescript-check

Enhance backwards compatibility with new aliases and wrappers for testing; improve session state handling across multiple modules
  src/tools/design/confirmation-module.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/cross-session-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/methodology-selector.ts
  src/tools/design/pivot-module.ts
  src/tools/design/roadmap-generator.ts
  src/tools/design/spec-generator.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  tests/setup/vitest.setup.ts
  vitest.config.ts
Due: local-biome-check, local-typescript-check
