Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

fix: update documentation links to reflect new directory structure
  docs/tips/README.md
  docs/tools/architecture-design-prompt-builder.md
  docs/tools/code-analysis-prompt-builder.md
  docs/tools/debugging-assistant-prompt-builder.md
  docs/tools/digital-enterprise-architect-prompt-builder.md
  docs/tools/documentation-generator-prompt-builder.md
  docs/tools/domain-neutral-prompt-builder.md
  docs/tools/guidelines-validator.md
  docs/tools/hierarchical-prompt-builder.md
  docs/tools/hierarchy-level-selector.md
  docs/tools/l9-distinguished-engineer-prompt-builder.md
  docs/tools/memory-context-optimizer.md
  docs/tools/mode-switcher.md
  docs/tools/model-compatibility-checker.md
  docs/tools/project-onboarding.md
  docs/tools/prompt-chaining-builder.md
  docs/tools/prompt-flow-builder.md
  docs/tools/prompting-hierarchy-evaluator.md
Due: none

fix: update related documentation links to new tips directory
  docs/tools/clean-code-scorer.md
  docs/tools/code-hygiene-analyzer.md
  docs/tools/dependency-auditor.md
  docs/tools/iterative-coverage-enhancer.md
Due: none

fix: update documentation links to include tips directory for Mermaid examples
  docs/tools/design-assistant.md
  docs/tools/mermaid-diagram-generator.md
Due: none

fix: update related documentation links to new tips directory
  docs/tools/gap-frameworks-analyzers.md
Due: none

fix: correct file paths for AI Interaction Tips and Flow Prompting Examples
  docs/tools/domain-neutral-prompt-builder.md
Due: none

fix: update URL for Project Scope Statement Best Practices in prompt-sections
  demos/demo-code-analysis.domain-neutral.prompt.md
  src/tools/shared/prompt-sections.ts
Due: local-biome-check, local-typescript-check

fix: add new ignore patterns for OpenAI models and related resources
  .mlc_config.json
Due: local-biome-check

fix: exclude custom URI schemes from lychee link checker
  .github/workflows/link-checker.yml
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-strategy-frameworks.md
Due: none

fix: update link exclusions in link checker and correct file paths in documentation
  .github/workflows/link-checker.yml
  docs/tips/AI_INTERACTION_TIPS.md
  docs/tips/REFERENCES.md
  src/resources/structured.ts
Due: local-biome-check, local-typescript-check

fix: exclude 403 Forbidden URLs from lychee link checker
  .github/workflows/link-checker.yml
  CHANGELOG.md
Due: none

Fixes broken links in documentation
  docs/tips/REFERENCES.md
Due: none

fix(docs): replace dead internal anchors in docs/tips
  docs/tips/AGENT_RELATIVE_CALLS.md
  docs/tips/AI_INTERACTION_TIPS.md
  docs/tips/BRIDGE_CONNECTORS.md
  docs/tips/CLEAN_CODE_INITIATIVE.md
  docs/tips/CODE_QUALITY_IMPROVEMENTS.md
  docs/tips/CONTEXT_AWARE_GUIDANCE.md
  docs/tips/DESIGN_MODULE_STATUS.md
  docs/tips/ERROR_HANDLING.md
  docs/tips/EXPORT_FORMATS.md
  docs/tips/FLOW_PROMPTING_EXAMPLES.md
  docs/tips/FLOW_SERENA_INTEGRATION.md
  docs/tips/MAINTAINING_MODELS.md
  docs/tips/MERMAID_DIAGRAM_EXAMPLES.md
  docs/tips/PROMPTING_HIERARCHY.md
  docs/tips/REFERENCES.md
  docs/tips/SERENA_STRATEGIES.md
  docs/tips/SPRINT_PLANNING_RELIABILITY.md
  docs/tips/TOOLS_REFERENCE.md
  docs/tips/design-guidelines.md
Due: none

fix(docs): replace dead internal anchors in docs/tools
  docs/tools/architecture-design-prompt-builder.md
  docs/tools/clean-code-scorer.md
  docs/tools/code-analysis-prompt-builder.md
  docs/tools/code-hygiene-analyzer.md
  docs/tools/debugging-assistant-prompt-builder.md
  docs/tools/dependency-auditor.md
  docs/tools/design-assistant.md
  docs/tools/digital-enterprise-architect-prompt-builder.md
  docs/tools/documentation-generator-prompt-builder.md
  docs/tools/domain-neutral-prompt-builder.md
  docs/tools/gap-frameworks-analyzers.md
  docs/tools/guidelines-validator.md
  docs/tools/hierarchical-prompt-builder.md
  docs/tools/hierarchy-level-selector.md
  docs/tools/iterative-coverage-enhancer.md
  docs/tools/l9-distinguished-engineer-prompt-builder.md
  docs/tools/memory-context-optimizer.md
  docs/tools/mermaid-diagram-generator.md
  docs/tools/mode-switcher.md
  docs/tools/model-compatibility-checker.md
  docs/tools/project-onboarding.md
  docs/tools/prompt-chaining-builder.md
  docs/tools/prompt-flow-builder.md
  docs/tools/prompting-hierarchy-evaluator.md
  docs/tools/security-hardening-prompt-builder.md
  docs/tools/semantic-code-analyzer.md
  docs/tools/spark-prompt-builder.md
  docs/tools/sprint-timeline-calculator.md
  docs/tools/strategy-frameworks-builder.md
Due: none

fix(docs): remove auto-generated interactive headers from tools documentation
  docs/tips/README.md
  docs/tools/README.md
Due: none

Bump version to 0.9.0 in package.json for release
  package-lock.json
  package.json
Due: local-biome-check

Bump version to 0.9.0 in package.json for release (#290)
  package-lock.json
  package.json
Due: local-biome-check

Add CI/CD Crash and GitHub Action options to bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add CI/CD Crash and GitHub Action options to bug report (#293)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: enhance issue templates for bug reports, documentation, and feature requests
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/release-setup.md
  .github/ISSUE_TEMPLATE/release-setup.yml
Due: none

feat: update pull request template to enhance clarity and structure
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

📝 Optimize PR template with progressive disclosure and best practices (#298)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/release-setup.md
  .github/ISSUE_TEMPLATE/release-setup.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix auto-regenerate workflow: create PR instead of direct push to main (#292)
  .github/workflows/auto-regenerate-demos.yml
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-dependency-audit.md
Due: none

refactor: update L9 Distinguished Engineer prompt to remove Easter Egg reference and increment version to 0.9.1
  demos/demo-l9-engineer.prompt.md
  package-lock.json
  package.json
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
Due: local-biome-check, local-typescript-check

chore: update model version from GPT-4.1 to GPT-5 across prompt builders and utilities
  src/tools/prompt/architecture-design-prompt-builder.ts
  src/tools/prompt/code-analysis-prompt-builder.ts
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  src/tools/prompt/digital-enterprise-architect-prompt-builder.ts
  src/tools/prompt/documentation-generator-prompt-builder.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/enterprise-architect-prompt-builder.ts
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/prompt/spark-prompt-builder.ts
  src/tools/shared/prompt-sections.ts
  src/tools/shared/prompt-utils.ts
Due: local-biome-check, local-typescript-check

chore: update model references from GPT-4.1 to GPT-5 across test files
  tests/unit/run-unit-tests.js
  tests/vitest/coverage-optimization.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/final-push-to-85.test.ts
  tests/vitest/function-coverage-enhancement.test.ts
  tests/vitest/prompt-sections.test.ts
  tests/vitest/prompt-utils.edge-cases.test.ts
  tests/vitest/prompt-utils.test.ts
  tests/vitest/security-hardening-prompt-builder.edge-cases.test.ts
  tests/vitest/unit/hierarchical-schema.validation.test.ts
Due: local-biome-check, local-typescript-check

chore: update provider reference to GPT-5 in unit tests
  tests/unit/run-unit-tests.js
Due: local-biome-check

fix: complete GPT-4.1 to GPT-5 migration in tests and demos (#302)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-strategy-frameworks.md
  src/tools/semantic-analyzer/services/structure-analysis.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/enterprise-architect-prompt-builder.test.ts
  tests/vitest/function-coverage-enhancement.test.ts
  tests/vitest/prompt-utils.edge-cases.test.ts
  tests/vitest/prompt-utils.test.ts
  tests/vitest/unit/hierarchical-schema.validation.test.ts
Due: local-biome-check, local-typescript-check

test: enhance prompt-sections tests with additional techniques and sections
  tests/vitest/prompt-sections.test.ts
Due: local-biome-check, local-typescript-check

test: enhance prompt-sections tests with additional cases and provider handling
  tests/vitest/prompt-sections.test.ts
Due: local-biome-check, local-typescript-check

test: add edge cases and branch coverage for project onboarding
  tests/vitest/methodology-selector.test.ts
  tests/vitest/project-onboarding.test.ts
Due: local-biome-check, local-typescript-check

fix(tests): correct formatting in buildPitfallsSection test
  tests/vitest/prompt-sections.test.ts
Due: local-biome-check, local-typescript-check

Add GPT-5 default, fix frontmatter suppression for chat, and document export formats (#295)
  README.md
  docs/EXPORT_FORMATS.md
  docs/MODEL_MANAGEMENT.md
  docs/README.md
  src/tools/shared/prompt-sections.ts
  src/tools/shared/prompt-utils.ts
  tests/vitest/export-format-headers.test.ts
  tests/vitest/prompt-sections.test.ts
Due: local-biome-check, local-typescript-check

test: enhance model loader tests with comprehensive validation checks
  tests/vitest/model-loader.test.ts
Due: local-biome-check, local-typescript-check

feat: Centralized model default configuration via YAML with comprehensive test coverage (#308)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-strategy-frameworks.md
  docs/MODEL_MANAGEMENT.md
  src/tools/config/model-config.ts
  src/tools/config/model-loader.ts
  src/tools/config/models.yaml
  src/tools/prompt/architecture-design-prompt-builder.ts
  src/tools/prompt/code-analysis-prompt-builder.ts
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  src/tools/prompt/digital-enterprise-architect-prompt-builder.ts
  src/tools/prompt/documentation-generator-prompt-builder.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/enterprise-architect-prompt-builder.ts
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/prompt/spark-prompt-builder.ts
  tests/vitest/config-modules-coverage.test.ts
  tests/vitest/model-config.test.ts
  tests/vitest/model-loader-error-paths.test.ts
  tests/vitest/model-loader.test.ts
Due: local-biome-check, local-typescript-check

✨ Add quick-developer-prompts-builder: 25 ultra-efficient checklist prompts (#314)
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  docs/quick-developer-prompts-usage.md
  src/index.ts
  src/tools/prompt/quick-developer-prompts-builder.ts
  tests/vitest/quick-developer-prompts-builder.test.ts
Due: local-biome-check, local-typescript-check

Bumps package version to 0.10.0
  package-lock.json
  package.json
Due: local-biome-check
