Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

local-biome-check:
  name: 🟨 biome · Format, lint, and safe fixes
  entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

local-typescript-check:
  name: 🔷 typescript · Type checking
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

chore: bump version to v0.18.0 (#1523)
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

fix: add nanoid dep and honour MCP_WORKSPACE_ROOT across all entry points
  package.json
  src/config/orchestration-config.ts
  src/contracts/runtime.ts
  src/index.ts
  src/models/model-router.ts
  src/runtime/secure-session-store.ts
  src/skills/runtime/workspace-adapter.ts
  src/tests/index.test.ts
  src/tests/regression/v0.18.1-workspace-root.test.ts
Due: local-biome-check, local-typescript-check

chore: bump version to v0.18.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: local-biome-check

test: cover anchorStateToClientRoots config-reload fallback path
  src/tests/regression/v0.18.1-anchor-config-fallback.test.ts
Due: local-biome-check, local-typescript-check

Release v0.18.1: fix nanoid runtime crash + workspace-root inconsistencies (#1526)
  CHANGELOG.md
  package-lock.json
  package.json
  src/config/orchestration-config.ts
  src/contracts/runtime.ts
  src/index.ts
  src/models/model-router.ts
  src/runtime/secure-session-store.ts
  src/skills/runtime/workspace-adapter.ts
  src/tests/index.test.ts
  src/tests/regression/v0.18.1-anchor-config-fallback.test.ts
  src/tests/regression/v0.18.1-workspace-root.test.ts
Due: local-biome-check, local-typescript-check

fix(scripts): allow hidden research-only skills to be orphaned in verify_matrix
  scripts/skill_matrix_loader.py
  scripts/verify_matrix.py
Due: none

chore: move superpowers specs+plans out of docs/ into .superpowers/
  .superpowers/plans/2026-06-17-analogy-think-and-methodology-gate.md
  .superpowers/plans/2026-06-17-baseline-metrics.md
  .superpowers/plans/2026-06-17-multi-track-mcp-execution.md
  .superpowers/plans/2026-06-17-track-a-verification.md
  .superpowers/plans/2026-06-17-track-c-conceptual-analysis.md
  .superpowers/plans/2026-06-17-track-c-decision.md
  .superpowers/plans/2026-06-17-track-c-input-inventory.md
  .superpowers/plans/2026-06-17-track-c-mapping-trials.md
  .superpowers/specs/2026-06-17-analogy-think-and-methodology-gate-design.md
  docs/src/content/docs/reference/analogy-think.md
  src/skills/analogy/catalog.ts
  src/skills/analogy/clarify.ts
  src/skills/analogy/types.ts
  src/skills/shared/physics-adapter-prototype.ts
  src/tests/verification/cross-blind-analogy.test.ts
Due: local-biome-check, local-typescript-check

feat(eval): lead quality-evaluate skills with a return-a-prompt analysis directive
  src/skills/eval/eval-design.ts
  src/skills/eval/eval-output-grading.ts
  src/skills/eval/eval-prompt-bench.ts
  src/skills/eval/eval-prompt.ts
  src/skills/eval/eval-variance.ts
  src/skills/shared/analysis-directive.ts
  src/tests/skills/eval/eval-design.test.ts
  src/tests/skills/eval/eval-directive.test.ts
  src/tests/skills/shared/analysis-directive.test.ts
Due: local-biome-check, local-typescript-check

docs(plans): split remaining work into 5 bite-sized TDD plans
  .superpowers/plans/2026-06-19-dependency-script-slimming.md
  .superpowers/plans/2026-06-19-persistence-hygiene.md
  .superpowers/plans/2026-06-19-pr1527-gate-fixes.md
  .superpowers/plans/2026-06-19-protocol-modernization.md
  .superpowers/plans/2026-06-19-sampler-seam.md
Due: none

chore(deps): remove unused jest test runner
  jest.config.mjs
Due: local-biome-check

chore(deps): remove unused interactive-prompt stack
  package.json
  scripts/audit-dependency-usage.py
Due: local-biome-check

refactor(sampler): retire dead llm-lane-executor; drop AI-SDK deps
  package-lock.json
  package.json
  scripts/audit-dependency-usage.py
  src/contracts/llm-types.ts
  src/runtime/llm-lane-executor.ts
  src/tests/contracts/llm-types.test.ts
  src/tests/runtime/llm-lane-executor.test.ts
Due: local-biome-check, local-typescript-check

feat(sampler): add Sampler types and makeSampler factory
  src/contracts/runtime.ts
  src/tests/tools/shared/sampler.test.ts
  src/tools/shared/sampler.ts
Due: local-biome-check, local-typescript-check

feat(sampler): thread sampler capability onto runtime, populate post-connect
  src/contracts/runtime.ts
  src/index.ts
  src/runtime/attach-sampler.ts
  src/tests/runtime/attach-sampler.test.ts
Due: local-biome-check, local-typescript-check

feat(sampler): add analyzeOrDirective sample-or-fallback helper
  src/skills/shared/analyze-or-directive.ts
  src/tests/skills/shared/analyze-or-directive.test.ts
Due: local-biome-check, local-typescript-check

feat(eval): sample real findings when client supports it, directive otherwise
  src/skills/eval/eval-design.ts
  src/skills/eval/eval-output-grading.ts
  src/skills/eval/eval-prompt-bench.ts
  src/skills/eval/eval-prompt.ts
  src/skills/eval/eval-variance.ts
  src/tests/skills/eval/eval-directive.test.ts
Due: local-biome-check, local-typescript-check

feat(rollout): real-analysis seam for code-review and issue-debug leads
  src/skills/debug/debug-reproduction.ts
  src/skills/qual/qual-code-analysis.ts
  src/tests/skills/rollout-directive.test.ts
Due: local-biome-check, local-typescript-check

chore: regenerate tool definitions (fixes #1527 generated-file drift gate)
  src/generated/instructions/analogy-think.ts
  src/generated/manifests/instruction-manifests.ts
  src/generated/registry/public-tools.ts
Due: local-biome-check, local-typescript-check

fix(persistence): clean up temp files on failed write + sweep stale temps on startup
  src/index.ts
  src/runtime/session-store-utils.ts
  src/tests/runtime/session-store-utils.test.ts
Due: local-biome-check, local-typescript-check

feat(persistence): MCP_AI_AGENT_GUIDELINES_EPHEMERAL opts out of disk writes
  src/index.ts
  src/runtime/memory-session-store.ts
  src/runtime/session-store-utils.ts
  src/tests/runtime/ephemeral-mode.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/runtime/memory-session-store.test.ts
Due: local-biome-check, local-typescript-check

docs: spec + plan for completing TOON removal (finish #1517, separate main-based effort)
  .superpowers/plans/2026-06-19-complete-toon-removal.md
  .superpowers/specs/2026-06-19-complete-toon-removal-design.md
Due: none

refactor(session): make the session store keyless (drop the MAC)
  src/config/runtime-defaults.ts
  src/runtime/secure-session-store.ts
  src/tests/runtime/secure-session-store.test.ts
Due: local-biome-check, local-typescript-check

refactor(memory): delete residual TOON memory modules and consumers
  package.json
  scripts/toon-to-markdown.mjs
  src/index.ts
  src/memory/shared-memory.ts
  src/memory/toon-interface.ts
  src/memory/toon-memory-helpers.ts
  src/resources/resource-surface.ts
  src/snapshots/toon_markdown.ts
  src/tests/index.test.ts
  src/tests/memory/toon-coherence.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/memory/toon-memory-helpers-enhanced.test.ts
  src/tests/memory/toon-memory-helpers.test.ts
  src/tests/regression/v0.18.1-anchor-config-fallback.test.ts
  src/tests/resources/resource-surface.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/scripts/toon-to-markdown.test.ts
  src/tests/serena/client.test.ts
  src/tests/snapshots/toon-markdown.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

refactor(crypto): remove dead session-crypto and the @toon-format/toon dependency
  package-lock.json
  package.json
  scripts/package-skill-mapping.json
  src/runtime/session-crypto.ts
  src/skills/lead/lead-software-evangelist.ts
  src/tests/runtime/session-crypto.test.ts
Due: local-biome-check, local-typescript-check

chore: regenerate skill graph after TOON removal
  docs/architecture/03-skill-graph.md
Due: none

fix(test): restore serena constructor mock broken by biome --write arrow conversion
  src/tests/serena/client.test.ts
Due: local-biome-check, local-typescript-check

ci(codecov): add project threshold so healthy deletions don't fail the gate
  codecov.yml
Due: none

refactor: complete TOON removal — keyless session store, no crypto keys, drop @toon-format/toon (#1529)
  codecov.yml
  docs/architecture/03-skill-graph.md
  package-lock.json
  package.json
  scripts/package-skill-mapping.json
  scripts/toon-to-markdown.mjs
  src/config/runtime-defaults.ts
  src/index.ts
  src/memory/shared-memory.ts
  src/memory/toon-interface.ts
  src/memory/toon-memory-helpers.ts
  src/resources/resource-surface.ts
  src/runtime/secure-session-store.ts
  src/runtime/session-crypto.ts
  src/skills/lead/lead-software-evangelist.ts
  src/snapshots/toon_markdown.ts
  src/tests/index.test.ts
  src/tests/memory/toon-coherence.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/memory/toon-memory-helpers-enhanced.test.ts
  src/tests/memory/toon-memory-helpers.test.ts
  src/tests/regression/v0.18.1-anchor-config-fallback.test.ts
  src/tests/resources/resource-surface.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/runtime/secure-session-store.test.ts
  src/tests/runtime/session-crypto.test.ts
  src/tests/scripts/toon-to-markdown.test.ts
  src/tests/snapshots/toon-markdown.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

refactor: move the LLM2LLM analysis seam to instruction level
  src/skills/debug/debug-reproduction.ts
  src/skills/eval/eval-design.ts
  src/skills/eval/eval-output-grading.ts
  src/skills/eval/eval-prompt-bench.ts
  src/skills/eval/eval-prompt.ts
  src/skills/eval/eval-variance.ts
  src/skills/qual/qual-code-analysis.ts
  src/skills/shared/analysis-directive.ts
  src/skills/shared/analyze-or-directive.ts
  src/tests/skills/eval/eval-design.test.ts
  src/tests/skills/eval/eval-directive.test.ts
  src/tests/skills/rollout-directive.test.ts
  src/tests/skills/shared/analysis-directive.test.ts
  src/tests/skills/shared/analyze-or-directive.test.ts
Due: local-biome-check, local-typescript-check

feat: collapse the template recommendation wall into one situation result
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

fix: scope the situation transform to the analysis family + clean domain
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

test: add real-MCP A/B eval harness + situation-transform kill-switch
  evals/RESULTS.md
  evals/ab_results.json
  evals/situation-transform.json
  scripts/ab_eval.py
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: local-biome-check, local-typescript-check

docs: plan to finish the situation-transform (sampling proof, volume cap, latent hardening)
  .superpowers/plans/2026-06-20-finish-situation-transform.md
Due: none

refactor: single source for the advisory-only prefix
  src/skills/qm/qm-physics-helpers.ts
  src/skills/shared/advisory.ts
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/advisory.test.ts
Due: local-biome-check, local-typescript-check

Path conditions:
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$, but not: (?x)^(
    dist/.*|           # Exclude compiled output
    node_modules/.*|   # Exclude dependencies
    .*\.min\.js$|      # Exclude minified files
    .*\.map$           # Exclude source maps
)$

  local-typescript-check: any of: \.(ts|mts|cts)$, but not: (?x)^(
    dist/.*|           # Exclude compiled output
    node_modules/.*|   # Exclude dependencies
    .*\.min\.js$|      # Exclude minified files
    .*\.map$           # Exclude source maps
)$

