Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      dist/.*|           # Exclude compiled output
      node_modules/.*|   # Exclude dependencies
      .*\.min\.js$|      # Exclude minified files
      .*\.map$           # Exclude source maps
  )$

fail_fast: true

repos:
  # ----------------------------- 🔒 Security Tools ---------------------------- #
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.1
    hooks:
      - id: gitleaks
        name: "🔒 security · Detect hardcoded secrets"
        args: ["--verbose", "--redact", "--config=.gitleaks.toml"]

  # --------------------------- 🔍 Code Quality Tools -------------------------- #
  - repo: local
    hooks:
      - id: local-biome-check
        name: "🟨 biome · Format, lint, and safe fixes"
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: '\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$'

      - id: local-typescript-check
        name: "🔷 typescript · Type checking"
        entry: npx tsc --noEmit
        language: system
        types: [ts]
        pass_filenames: false

  # ----------------------------- 📝 File Quality ---------------------------- #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: "📄 yaml · Validate YAML files"
      - id: check-json
        name: "📄 json · Validate JSON files"
      - id: check-merge-conflict
        name: "🔀 git · Check for merge conflicts"
      - id: check-added-large-files
        name: "📦 files · Check for large files"
        args: ['--maxkb=1024']
      - id: trailing-whitespace
        name: "🧹 format · Remove trailing whitespace"
      - id: end-of-file-fixer
        name: "🧹 format · Fix end of files"

feat: add big-picture alignment agent to enhance code review process
  .github/agents/big-picture.agent.md
Due: none

[WIP] Create BaseStrategy<T> abstract class for strategy implementations (#1235)
  lefthook.yml
  src/strategies/shared/base-strategy.ts
  src/strategies/shared/execution-trace.ts
  src/strategies/shared/index.ts
  src/strategies/shared/types.ts
  tests/vitest/strategies/shared/base-strategy.spec.ts
Due: local-biome-check, local-typescript-check

Harden BaseStrategy test coverage for validate/execute paths (#1236)
  tests/vitest/server.handlers.comprehensive.test.ts
  tests/vitest/strategies/shared/base-strategy.spec.ts
Due: local-biome-check, local-typescript-check

docs: clarify production audit expectations and vulnerability handling
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

Add domain ExecutionTrace with utilities and coverage (#1237)
  src/domain/base-strategy/execution-trace.ts
  src/domain/base-strategy/index.ts
  src/domain/base-strategy/trace-utils.ts
  src/domain/base-strategy/types.ts
  src/domain/index.ts
  tests/vitest/domain/base-strategy/execution-trace.spec.ts
  tests/vitest/domain/base-strategy/trace-utils.spec.ts
  tests/vitest/domain/base-strategy/types.spec.ts
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

Add focused ExecutionTrace test suite with expanded coverage and export semantics (#1243)
  tests/vitest/shared/execution-trace.spec.ts
Due: local-biome-check, local-typescript-check

Add domain-level SummaryFeedbackCoordinator for multi-trace aggregation and user-facing summaries (#1244)
  src/domain/coordinators/index.ts
  src/domain/coordinators/summary-feedback-coordinator.ts
  src/domain/coordinators/types.ts
  src/domain/index.ts
  tests/vitest/domain/coordinators/summary-feedback-coordinator.spec.ts
Due: local-biome-check, local-typescript-check

Expand SummaryFeedbackCoordinator test coverage for edge and failure-mode paths (#1246)
  tests/vitest/domain/coordinators/summary-feedback-coordinator.spec.ts
Due: local-biome-check, local-typescript-check

Update copyright year in LICENSE file
  LICENSE
Due: none

test(fallbacks): add coverage for model-examples fallback behavior
  package-lock.json
  tests/vitest/server.handlers.coverage.test.ts
  tests/vitest/tools/config/model-examples.fallbacks.spec.ts
Due: local-biome-check, local-typescript-check

Add domain-level AgentHandoffCoordinator with typed handoff package, trace snapshotting, and lifecycle management (#1250)
  package-lock.json
  src/domain/coordination/agent-handoff-coordinator.ts
  src/domain/coordination/execution-trace.ts
  src/domain/coordination/handoff-types.ts
  src/domain/coordination/index.ts
  src/domain/coordination/summary-feedback-coordinator.ts
  tests/vitest/domain/coordination/agent-handoff-coordinator.spec.ts
  tests/vitest/server.handlers.coverage.test.ts
  tests/vitest/tools/config/model-examples.fallbacks.spec.ts
Due: local-biome-check, local-typescript-check

Expand AgentHandoffCoordinator test coverage for parse and expiration edge paths (#1256)
  tests/vitest/domain/coordination/agent-handoff-coordinator.spec.ts
Due: local-biome-check, local-typescript-check

Align `OutputStrategy` interface with BaseStrategy lifecycle hooks while preserving render-path compatibility (#1261)
  src/strategies/output-strategy.ts
  tests/vitest/strategies/output-strategy.spec.ts
Due: local-biome-check, local-typescript-check

Add Phase 1 foundation integration coverage for strategy/trace/summary/handoff flow (#1262)
  tests/vitest/integration/phase1-foundation.spec.ts
Due: local-biome-check, local-typescript-check

feat(devcontainer): add initial devcontainer configuration for Node.js & TypeScript
  .devcontainer/devcontainer.json
Due: local-biome-check

feat(dependabot): add devcontainers package ecosystem for weekly updates
  .github/dependabot.yml
Due: none

fix(gitignore): remove Serena directory from ignored files
  .gitignore
Due: none

test(speckit): expand coverage and speed up vitest execution
  package.json
  tests/vitest/domain/speckit/generators/plan-generator.spec.ts
  tests/vitest/domain/speckit/generators/spec-generator.spec.ts
  tests/vitest/strategies/speckit/speckit-base-strategy.spec.ts
  vitest.config.ts
Due: local-biome-check, local-typescript-check

T-011: Introduce BaseStrategy-backed SpecKit pipeline with domain extraction scaffold (#1277)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitignore
  package.json
  src/domain/speckit/generators/adr-generator.ts
  src/domain/speckit/generators/index.ts
  src/domain/speckit/generators/plan-generator.ts
  src/domain/speckit/generators/progress-generator.ts
  src/domain/speckit/generators/readme-generator.ts
  src/domain/speckit/generators/roadmap-generator.ts
  src/domain/speckit/generators/spec-generator.ts
  src/domain/speckit/generators/tasks-generator.ts
  src/domain/speckit/index.ts
  src/domain/speckit/types.ts
  src/domain/speckit/validators/constitution-validator.ts
  src/domain/speckit/validators/index.ts
  src/strategies/speckit/index.ts
  src/strategies/speckit/speckit-strategy.ts
  tests/vitest/domain/speckit/generators/adr-generator.spec.ts
  tests/vitest/domain/speckit/generators/plan-generator.spec.ts
  tests/vitest/domain/speckit/generators/progress-generator.spec.ts
  tests/vitest/domain/speckit/generators/readme-generator.spec.ts
  tests/vitest/domain/speckit/generators/roadmap-generator.spec.ts
  tests/vitest/domain/speckit/generators/spec-generator.spec.ts
  tests/vitest/domain/speckit/generators/tasks-generator.spec.ts
  tests/vitest/domain/speckit/types.spec.ts
  tests/vitest/domain/speckit/validators/constitution-validator.spec.ts
  tests/vitest/strategies/speckit/speckit-base-strategy.spec.ts
  tests/vitest/strategies/speckit/speckit-strategy.spec.ts
  vitest.config.ts
Due: local-biome-check, local-typescript-check

feat(strategies): migrate all 6 strategies to BaseStrategy pattern (#1135)
  src/domain/speckit/types.ts
  src/gateway/polyglot-gateway.ts
  src/strategies/adr-strategy.ts
  src/strategies/chat-strategy.ts
  src/strategies/enterprise-strategy.ts
  src/strategies/rfc-strategy.ts
  src/strategies/sdd-strategy.ts
  src/strategies/shared/base-strategy.ts
  src/strategies/speckit/speckit-strategy.ts
  src/strategies/togaf-strategy.ts
  src/tools/design/design-assistant.ts
  src/tools/design/services/artifact-generation.service.ts
  src/tools/speckit-generator.ts
  tests/vitest/gateway/polyglot-gateway.spec.ts
  tests/vitest/gateway/speckit-integration.spec.ts
  tests/vitest/strategies/adr-strategy.spec.ts
  tests/vitest/strategies/chat-strategy.spec.ts
  tests/vitest/strategies/enterprise-strategy.spec.ts
  tests/vitest/strategies/rfc-strategy.spec.ts
  tests/vitest/strategies/sdd-strategy.spec.ts
  tests/vitest/strategies/speckit/final-integration.spec.ts
  tests/vitest/strategies/speckit/integration.spec.ts
  tests/vitest/strategies/speckit/speckit-base-strategy.spec.ts
  tests/vitest/strategies/speckit/speckit-strategy.spec.ts
  tests/vitest/strategies/strategy-matrix.integration.spec.ts
  tests/vitest/strategies/togaf-strategy.spec.ts
Due: local-biome-check, local-typescript-check

feat(domain/prompts): implement UnifiedPromptBuilder ecosystem (#1136)
  docs/adr/ADR-0004-unified-prompt-builder.md
  src/domain/prompts/generators/architecture.ts
  src/domain/prompts/generators/code-analysis.ts
  src/domain/prompts/generators/domain-neutral.ts
  src/domain/prompts/generators/hierarchical.ts
  src/domain/prompts/generators/index.ts
  src/domain/prompts/generators/security.ts
  src/domain/prompts/index.ts
  src/domain/prompts/registry.ts
  src/domain/prompts/renderers/index.ts
  src/domain/prompts/renderers/markdown-renderer.ts
  src/domain/prompts/renderers/xml-renderer.ts
  src/domain/prompts/template-engine.ts
  src/domain/prompts/template-types.ts
  src/domain/prompts/types.ts
  src/domain/prompts/unified-prompt-builder.ts
  src/tools/prompt/facades/domain-neutral-facade.ts
  src/tools/prompt/facades/hierarchical-facade.ts
  src/tools/prompt/facades/index.ts
  tests/vitest/domain/prompts/generators/architecture.spec.ts
  tests/vitest/domain/prompts/generators/code-analysis.spec.ts
  tests/vitest/domain/prompts/generators/domain-neutral.spec.ts
  tests/vitest/domain/prompts/generators/hierarchical.spec.ts
  tests/vitest/domain/prompts/generators/security.spec.ts
  tests/vitest/domain/prompts/integration.spec.ts
  tests/vitest/domain/prompts/registry.spec.ts
  tests/vitest/domain/prompts/template-engine.spec.ts
  tests/vitest/domain/prompts/types.spec.ts
  tests/vitest/domain/prompts/unified-prompt-builder.spec.ts
  tests/vitest/tools/prompt/facades/domain-neutral-facade.spec.ts
  tests/vitest/tools/prompt/facades/hierarchical-facade.spec.ts
Due: local-biome-check, local-typescript-check

feat: phase 6 validation - V-002 schema descriptions 80.1% (#1140)
  .github/workflows/ci-cd.yml
  package.json
  scripts/audit-schema-descriptions.ts
  src/schemas/prompt-hierarchy.ts
  src/tools/agent-orchestrator.ts
  src/tools/analysis/gap-frameworks-analyzers.ts
  src/tools/analysis/strategy-frameworks-builder.ts
  src/tools/guidelines-validator.ts
  src/tools/memory-context-optimizer.ts
  src/tools/mermaid-diagram-generator.ts
  src/tools/mermaid/types.ts
  src/tools/model-compatibility-checker.ts
  src/tools/prompt/architecture-design-prompt-builder.ts
  src/tools/prompt/code-analysis-prompt-builder.ts
  src/tools/prompt/coverage-dashboard-design-prompt-builder.ts
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  src/tools/prompt/digital-enterprise-architect-prompt-builder.ts
  src/tools/prompt/documentation-generator-prompt-builder.ts
  src/tools/prompt/domain-neutral-prompt-builder.ts
  src/tools/prompt/facades/hierarchical-facade.ts
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/hierarchy-level-selector.ts
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
  src/tools/prompt/prompt-chaining-builder.ts
  src/tools/prompt/prompt-flow-builder.ts
  src/tools/prompt/quick-developer-prompts-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/prompt/spark-prompt-builder.ts
  src/tools/shared/types/export-format.types.ts
  src/tools/sprint-timeline-calculator.ts
  tests/vitest/integration/phases-3-5.spec.ts
Due: local-biome-check, local-typescript-check

feat: phase 6 enforcement tools + V-001-V-015 validation (#1137-#1140)
  src/index.ts
  src/tools/enforcement/enforce-planning.ts
  src/tools/enforcement/index.ts
  src/tools/enforcement/validate-annotations.ts
  src/tools/enforcement/validate-schema-examples.ts
  tests/vitest/integration/tool-annotations.spec.ts
  tests/vitest/tools/enforcement/enforce-planning.spec.ts
  tests/vitest/tools/enforcement/validate-annotations.spec.ts
  tests/vitest/tools/enforcement/validate-schema-examples.spec.ts
Due: local-biome-check, local-typescript-check

chore: update mermaid dependency to version 11.4.0
  package-lock.json
  package.json
Due: local-biome-check

fix(ci): fix security audit output, restore action versions, delete no-op workflow
  .github/workflows/ci-cd.yml
  .github/workflows/validate-progress.yml
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

chore(serena): add Serena project config and onboarding memories
  .serena/.gitignore
  .serena/memories/conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
Due: none

chore(serena): exclude project.yml from tracking
  .serena/.gitignore
  .serena/project.yml
Due: none

chore(serena): restore project.yml tracking, exclude from yaml-lint
  .serena/.gitignore
  .serena/project.yml
  lefthook.yml
Due: none

fix(ci): raise security-audit blocking threshold to high
  .github/workflows/ci-cd.yml
Due: none

test(integration): remove phases-3-5.spec.ts (removed pipeline)\n\nRemove failing integration test referencing removed pipeline.\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  tests/vitest/integration/phases-3-5.spec.ts
Due: local-biome-check, local-typescript-check

fix(test): loosen dompurify allowlist — remove mermaid requirement
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

test: add targeted branch coverage for speckit-strategy, dependency-auditor, and other modules (#1287)
  src/tools/mermaid-diagram-generator.ts
  tests/vitest/domain/router/plugin-manager-branches.spec.ts
  tests/vitest/frameworks/project-management/index.spec.ts
  tests/vitest/frameworks/strategic-planning/index.spec.ts
  tests/vitest/frameworks/visualization/index.spec.ts
  tests/vitest/iterative-coverage-enhancer.test.ts
  tests/vitest/platform/mock-pal.spec.ts
  tests/vitest/platform/node-pal.spec.ts
  tests/vitest/strategies/speckit-strategy.spec.ts
  tests/vitest/strategies/speckit/speckit-strategy.spec.ts
  tests/vitest/tools/dependency-auditor-legacy-branches.spec.ts
  tests/vitest/tools/design/constraint-manager-branches.spec.ts
  tests/vitest/tools/design/cross-session-consistency-enforcer-branches.spec.ts
  tests/vitest/tools/enforcement/validate-progress-branches.spec.ts
  tests/vitest/tools/mermaid/mermaid-diagram-generator-branches.spec.ts
  tests/vitest/tools/shared/tool-invoker-branches.spec.ts
Due: local-biome-check, local-typescript-check

chore: Update Node.js versions in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

chore: update project version to 0.14.0 and add read_only_memory_patterns to configuration
  .serena/project.yml
  package-lock.json
  package.json
Due: local-biome-check

chore: update project version to 0.14.0 and add read_only_memory_patterns to configuration (#1318)
  .serena/project.yml
  package-lock.json
  package.json
Due: local-biome-check

chore: update CI/CD pipeline to remove Node.js 18 and add line ending convention in project configuration
  .github/workflows/ci-cd.yml
  .serena/project.yml
Due: none

chore: update CI/CD pipeline to remove Node.js 18 and add line ending convention in project configuration (#1320)
  .github/workflows/ci-cd.yml
  .serena/project.yml
Due: none

Add x402 monetization (/.well-known/x402.json + middleware)
  .well-known/x402.json
  x402-middleware-example.ts
Due: local-biome-check, local-typescript-check
