Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-typescript-check

local-biome-check:
  name: 🟨 biome · Format, lint, and safe fixes
  entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

local-typescript-check:
  name: 🔷 typescript · Type checking
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

✨ Add comprehensive documentation for coverage improvements and implementation status feature
  .gitignore
  COVERAGE_IMPROVEMENT_SUMMARY.md
  progress/COVERAGE_IMPROVEMENT_SUMMARY.md
  progress/IMPLEMENTATION_STATUS_FEATURE.md
  progress/README.md
Due: none

✨ Improve test coverage from 60% to 69% - Add comprehensive test suites for design modules and core tools (#99)
  .gitignore
  COVERAGE_IMPROVEMENT_SUMMARY.md
  progress/COVERAGE_IMPROVEMENT_SUMMARY.md
  progress/IMPLEMENTATION_STATUS_FEATURE.md
  progress/README.md
  tests/vitest/additional-coverage-boost.test.ts
  tests/vitest/coverage-improvement-suite.test.ts
  tests/vitest/final-push-to-85.test.ts
  tests/vitest/strategic-coverage-85.test.ts
  vitest.config.ts
Due: local-biome-check, local-typescript-check

Bump version to 0.7.2 in package.json
  package-lock.json
  package.json
Due: local-biome-check

fix: Update import paths to improve test coverage tracking and enhance overall coverage metrics
  COVERAGE_IMPROVEMENT_SUMMARY.md
  progress/COVERAGE_IMPROVEMENT_SUMMARY.md
Due: none

refactor: Revise Copilot project instructions for clarity and structure
  .github/copilot-instructions.md
Due: none

Release/v0.7.2 (#107)
  .github/copilot-instructions.md
  COVERAGE_IMPROVEMENT_SUMMARY.md
  package-lock.json
  package.json
  progress/COVERAGE_IMPROVEMENT_SUMMARY.md
Due: local-biome-check

✨ Implement Prompting Hierarchy and Numeric Evaluation (Reinforcement Learning) (#108)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-hierarchy-level-selection.md
  demos/demo-prompt-evaluation.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  docs/PROMPTING_HIERARCHY.md
  progress/IMPLEMENTATION_SUMMARY.md
  src/index.ts
  src/resources/structured.ts
  src/tools/config/guidelines-config.ts
  src/tools/prompt/hierarchy-level-selector.ts
  src/tools/prompt/prompting-hierarchy-evaluator.ts
  tests/vitest/prompting-hierarchy-coverage.test.ts
  tests/vitest/prompting-hierarchy-evaluation.test.ts
  tests/vitest/prompting-hierarchy-max-coverage.test.ts
  tests/vitest/prompting-hierarchy-mcp-integration.test.ts
Due: local-biome-check, local-typescript-check

✨ Improve Sprint Time Planning Reliability with Dependency-Aware Scheduling (#116)
  IMPLEMENTATION_SUMMARY.md
  demos/demo-code-analysis.sprint.md
  docs/sprint-planning-reliability.md
  src/index.ts
  src/tools/sprint-timeline-calculator.ts
  tests/vitest/sprint-timeline-calculator-reliability.test.ts
  tests/vitest/sprint-timeline-calculator.edge-coverage.test.ts
Due: local-biome-check, local-typescript-check

✨ Enhance Mermaid Diagram Generator Beyond Default Templates (#117)
  README.md
  docs/mermaid-diagram-examples.md
  src/index.ts
  src/tools/mermaid-diagram-generator.ts
  tests/vitest/mermaid-diagram-enhancements.test.ts
Due: local-biome-check, local-typescript-check

✨ Implement stricter code quality evaluation criteria for more realistic assessments (#118)
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hygiene.md
  docs/code-quality-improvements.md
  src/tools/code-hygiene-analyzer.ts
  src/tools/config/guidelines-config.ts
  src/tools/guidelines-validator.ts
  src/tools/prompt/prompting-hierarchy-evaluator.ts
  tests/vitest/code-quality-stricter-evaluation.test.ts
  tests/vitest/guidelines-validator.edge-cases.test.ts
  tests/vitest/guidelines-validator.edge-coverage.test.ts
Due: local-biome-check, local-typescript-check

Refactor gitleaks integration: move installation script to separate security_check.sh for improved clarity and maintainability
  lefthook.yml
  lefthook/security_check.sh
Due: none

Enhance tests for mermaidDiagramGenerator and modelCompatibilityChecker: improve descriptions, add accessibility checks, and validate legacy diagram types
  tests/vitest/mermaid-diagram-generator.test.ts
  tests/vitest/model-compatibility-checker.test.ts
Due: local-biome-check, local-typescript-check

Add coverage analysis scripts: generate low-coverage report from lcov.info and parse coverage JSON
  package.json
  scripts/coverage_check.js
  scripts/generate-low-coverage.cjs
  scripts/generate-low-coverage.js
Due: local-biome-check

Add unit tests for bridge connectors and design modules: implement tests for project onboarding, semantic analysis, and design methodologies
  tests/unit/run-unit-tests.js
  tests/vitest/bridge/bridge-connector.test.ts
  tests/vitest/bridge/bridge-src-coverage.test.ts
  tests/vitest/design/design-src-smoke.test.ts
Due: local-biome-check, local-typescript-check

✨ Add flow-based prompting strategies inspired by claude-flow (#121)
  README.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  src/index.ts
  src/resources/structured.ts
  src/schemas/flow-tool-schemas.ts
  src/tools/prompt/prompt-chaining-builder.ts
  src/tools/prompt/prompt-flow-builder.ts
  tests/vitest/prompt-chaining-builder.test.ts
  tests/vitest/prompt-flow-builder.test.ts
Due: local-biome-check, local-typescript-check

✨ Enhance flow-based prompting with comprehensive documentation and Serena integration (#123)
  README.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/FLOW_PROMPTING_FOLLOWUP.md
  docs/FLOW_SERENA_INTEGRATION.md
  src/resources/structured.ts
  src/tools/prompt/prompt-chaining-builder.ts
  src/tools/prompt/prompt-flow-builder.ts
Due: local-biome-check, local-typescript-check

Add support for Node.js 24.x in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add support for Node.js 24.x in bug report template (#126)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Fix design-assistant tool crash: Add defensive array checks to prevent map() errors (#127)
  src/tools/design/design-assistant.ts
  tests/vitest/design-assistant-defensive-checks.test.ts
Due: local-biome-check, local-typescript-check

chore: bump version to 0.7.3 and update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: local-biome-check

chore: remove outdated implementation summary for sprint planning reliability
  IMPLEMENTATION_SUMMARY.md
Due: none

Release/v0.7.3 (#128)
  IMPLEMENTATION_SUMMARY.md
  package-lock.json
  package.json
Due: local-biome-check

feat: Replace console.warn with structured logging utility for production monitoring (#129)
  src/tools/design/adr-generator.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/prompt/prompt-flow-builder.ts
  src/tools/shared/logger.ts
  src/tools/sprint-timeline-calculator.ts
  tests/vitest/logger-integration-coverage.test.ts
  tests/vitest/logger.test.ts
Due: local-biome-check, local-typescript-check

Centralized Error Handling: Implement ErrorReporter & Typed Errors (#130)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  docs/ERROR_HANDLING.md
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/shared/errors.ts
  tests/vitest/error-handling.test.ts
Due: local-biome-check, local-typescript-check

Add Dependency Security Audit to CI/CD Pipeline (#132)
  .github/workflows/ci-cd.yml
  README.md
  lefthook.yml
  package.json
  tests/vitest/security-audit.test.ts
Due: local-biome-check, local-typescript-check

Refactor DesignAssistantImpl: Extract Methods into Service Classes to Reduce Complexity (#133)
  FOLLOW_UP_IMPROVEMENTS.md
  REFACTORING_SUMMARY.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  package-lock.json
  src/tools/design/design-assistant.ts
  src/tools/design/services/additional-operations.service.ts
  src/tools/design/services/artifact-generation.service.ts
  src/tools/design/services/consistency.service.ts
  src/tools/design/services/index.ts
  src/tools/design/services/phase-management.service.ts
  src/tools/design/services/session-management.service.ts
  src/tools/shared/prompt-sections.ts
  tests/vitest/services/additional-operations.service.test.ts
  tests/vitest/services/artifact-generation.service.test.ts
  tests/vitest/services/comprehensive-service-coverage.test.ts
  tests/vitest/services/consistency.service.test.ts
  tests/vitest/services/enhanced-service-coverage.test.ts
  tests/vitest/services/phase-management.service.test.ts
  tests/vitest/services/session-management.service.test.ts
  tests/vitest/unit/design/smoke-implemented-detection.test.ts
Due: local-biome-check, local-typescript-check

Enforce Type Safety: Replace `any` Usage in Spec Generator (#135)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/tools/design/spec-generator.ts
Due: local-biome-check, local-typescript-check

[WIP] Set up Copilot instructions for repository (#138)
  .github/copilot-instructions.md
  CONTRIBUTING.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
Due: none

✨ Implement Clean Code 100/100 Initiative with Comprehensive Quality Scoring System (#140)
  CLEAN_CODE_DASHBOARD.md
  README.md
  docs/CLEAN_CODE_IMPLEMENTATION_SUMMARY.md
  docs/CLEAN_CODE_INITIATIVE.md
  package.json
  scripts/generate-clean-code-dashboard.js
  src/index.ts
  src/tools/clean-code-scorer.ts
  tests/vitest/clean-code-scorer.test.ts
Due: local-biome-check, local-typescript-check

Improve test coverage from 79.46% to 87.62% - Add comprehensive bridge, design workflow, MCP server handler, and tool tests (#141)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  tests/vitest/bridge/bridge-comprehensive-coverage.test.ts
  tests/vitest/bridge/bridge-index-exports.test.ts
  tests/vitest/bridge/project-onboarding-bridge-comprehensive.test.ts
  tests/vitest/clean-code-scorer-comprehensive.test.ts
  tests/vitest/confirmation-prompt-builder-comprehensive.test.ts
  tests/vitest/design-workflow-integration-coverage.test.ts
  tests/vitest/server.handlers.comprehensive.test.ts
Due: local-biome-check, local-typescript-check

Add comprehensive tests for design phase workflow and coverage gap enhancements
  scripts/parse-lcov.js
  scripts/print-coverage-by-file.cjs
  tests/vitest/confirmation-module-advanced-coverage.test.ts
  tests/vitest/confirmation-module-phase2.test.ts
  tests/vitest/confirmation-prompt-builder-coverage-gaps.test.ts
  tests/vitest/confirmation-prompt-builder-full-coverage.test.ts
  tests/vitest/confirmation-prompt-builder-happy-path.test.ts
  tests/vitest/constraint-consistency-enforcer-full-coverage.test.ts
  tests/vitest/constraint-consistency-enforcer-phase2-additional.test.ts
  tests/vitest/coverage-gap-enhancement.test.ts
  tests/vitest/design-phase-workflow-full-coverage.test.ts
  tests/vitest/design-phase-workflow-phase2.test.ts
  tests/vitest/logger-integration-coverage.test.ts
Due: local-biome-check, local-typescript-check

Add phase property to ConfirmationResult and enhance validation logic
  src/tools/design/confirmation-module.ts
  src/tools/design/types/coverage.types.ts
Due: local-biome-check, local-typescript-check

Fix Code Hygiene Analyzer - Scoring No Longer Always 100/100 (#142)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  package-lock.json
  scripts/parse-lcov.js
  scripts/print-coverage-by-file.cjs
  src/tools/code-hygiene-analyzer.ts
  src/tools/design/confirmation-module.ts
  src/tools/design/types/coverage.types.ts
  tests/vitest/code-hygiene-analyzer.test.ts
  tests/vitest/code-quality-stricter-evaluation.test.ts
  tests/vitest/confirmation-module-advanced-coverage.test.ts
  tests/vitest/confirmation-module-phase2.test.ts
  tests/vitest/confirmation-prompt-builder-coverage-gaps.test.ts
  tests/vitest/confirmation-prompt-builder-full-coverage.test.ts
  tests/vitest/confirmation-prompt-builder-happy-path.test.ts
  tests/vitest/constraint-consistency-enforcer-full-coverage.test.ts
  tests/vitest/constraint-consistency-enforcer-phase2-additional.test.ts
  tests/vitest/coverage-gap-enhancement.test.ts
  tests/vitest/design-phase-workflow-full-coverage.test.ts
  tests/vitest/design-phase-workflow-phase2.test.ts
  tests/vitest/logger-integration-coverage.test.ts
Due: local-biome-check, local-typescript-check

Refactor test imports to use source files and remove dead code from maximum coverage expansion tests
  tests/vitest/maximum-coverage-expansion.test.ts
Due: local-biome-check, local-typescript-check

Update import paths in unit tests to use distribution files
  tests/unit/run-unit-tests.js
  tests/unit/test-methodology-selector.js
Due: local-biome-check

Consolidate prompt generation logic into tool builders with comprehensive test coverage (#171)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/index.ts
  src/prompts/index.ts
  src/tools/prompt/architecture-design-prompt-builder.ts
  src/tools/prompt/code-analysis-prompt-builder.ts
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  src/tools/prompt/documentation-generator-prompt-builder.ts
  tests/vitest/architecture-design-prompt-builder.test.ts
  tests/vitest/code-analysis-prompt-builder.test.ts
  tests/vitest/debugging-assistant-prompt-builder.test.ts
  tests/vitest/documentation-generator-prompt-builder.test.ts
  tests/vitest/prompts.index.test.ts
  tests/vitest/security-analysis-prompt.test.ts
Due: local-biome-check, local-typescript-check

Path conditions:
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$, but not: (?x)^(
    dist/.*|           # Exclude compiled output
    node_modules/.*|   # Exclude dependencies
    .*\.min\.js$|      # Exclude minified files
    .*\.map$           # Exclude source maps
)$

  local-typescript-check: any of: \.(ts|mts|cts)$, but not: (?x)^(
    dist/.*|           # Exclude compiled output
    node_modules/.*|   # Exclude dependencies
    .*\.min\.js$|      # Exclude minified files
    .*\.map$           # Exclude source maps
)$

