Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, yaml-lint, json-lint, docs-quality, docs-svg-fix, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.{json,jsonc}
  docs-quality: any of: docs/**/*.{md,svg}
  docs-svg-fix: any of: docs/**/*.svg
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  end-of-file-fixer: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  esm-imports-check: any of: *.{ts,tsx}
  typescript-any-check: any of: *.{ts,tsx}
  test-coverage-check: any of: src/**/*.{ts,tsx}
  console-log-check: any of: src/**/*.{ts,tsx,js,jsx}
  quick-test-check: any of: *.{ts,tsx}

feat: forward evidence anchors and source refs onto the collapsed rec
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: cap artifact volume on the collapsed analysis result
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

test: prove the sampled findings path through dispatchToolCall
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: refresh A/B eval after artifact-volume cap
  evals/RESULTS.md
  evals/ab_results_postcap_1case.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: correct stale transform JSDoc + add evidence-guard negative test
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: address final-review follow-ups (empty-request guard, footer note, eval caveat)
  evals/RESULTS.md
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: plan to extend target-orientation to solution-producing tools (13/20) + default-surface fix
  .superpowers/plans/2026-06-20-target-orientation-coverage.md
Due: trailing-whitespace, end-of-file-fixer

refactor: per-tool transform profiles (domain + output contract)
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: extend the situation-transform to solution-producing tools (build contract)
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: document that target-oriented tools need MCP_FULL_SURFACE for discovery
  README.md
  src/tools/shared/tool-surface-manifest.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: record target-orientation coverage expansion (7/20 -> 13/20)
  evals/RESULTS.md
Due: trailing-whitespace, end-of-file-fixer

fix: harden transform-profile tests + add resolver JSDoc
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: give meta-routing a target-oriented routing decision (tribunal fix)
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: record meta-routing routing fix (coverage 14/20)
  evals/RESULTS.md
Due: trailing-whitespace, end-of-file-fixer

feat: give agent-orchestrate a target-oriented coordination profile (15/20)
  evals/RESULTS.md
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: plan to register prompt-engineering for the transform (16/20)
  .superpowers/plans/2026-06-20-prompt-engineering-coverage.md
Due: trailing-whitespace, end-of-file-fixer

feat: register prompt-engineering for the situation-transform (16/20)
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

docs: correct prompt-engineering finding + record 16/20 coverage
  evals/RESULTS.md
Due: trailing-whitespace, end-of-file-fixer

docs: fix stale passthrough comment + ROUTABLE_DOMAIN_TOOLS intent + RESULTS self-consistency
  evals/RESULTS.md
  src/skills/shared/directive-first.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: transform routing-adapt + orientation tools (16/20 → 19/20)
  README.md
  evals/RESULTS.md
  src/skills/shared/directive-first.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/shared/tool-surface-manifest.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: add MCP_FULL_SURFACE environment variable to configuration
  .mcp.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

test: close patch-coverage gaps in analogy + shared modules
  src/tests/skills/analogy/catalog.test.ts
  src/tests/skills/analogy/clarify.test.ts
  src/tests/skills/analogy/matcher.test.ts
  src/tests/skills/shared/directive-first.test.ts
  src/tests/skills/shared/methodology-gate.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: vulnerabilities in package
  package-lock.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: vulnerabilities in package (#1571)
  package-lock.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: suppress CVE-2026-53550 in Trivy for gray-matter nested js-yaml
  .trivyignore
Due: none

chore(deps): pin astro@6.4.8 and add esbuild@^0.28.1 to production deps
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: remove esbuild from production dependencies
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

ci: add mcp2mcpb bundle job to release workflow (SHA 5e2f399, v0.4.0)
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

ci: downgrade upload/download-artifact to v4 (v5-v6 do not exist)
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: npm vulnerabilities 2026 06 21 (#1575)
  .github/workflows/release.yml
  .trivyignore
  package-lock.json
  package.json
Due: biome-check, yaml-lint, json-lint, trailing-whitespace, end-of-file-fixer

feat: add build-npm job, upgrade mcp2mcpb to v0.5 with --from-dist
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat: add build-npm job, upgrade mcp2mcpb to v0.5 with --from-dist (#1576)
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: pin mcp2mcpb action to SHA b040bab instead of v0.5 tag
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: pin mcp2mcpb action to SHA b040bab instead of v0.5 tag (#1577)
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: suppress false positive for CVE-2026-12151 in .trivyignore
  .trivyignore
Due: none

feat(skills): extract referenced file paths from request text
  docs/superpowers/plans/2026-07-03-workspace-grounding.md
  src/skills/shared/recommendations.ts
  src/tests/skills/shared/recommendations-paths.test.ts
Due: biome-check, typescript-check, docs-quality, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(skills): add workspace-grounding helper for content-grounded findings
  src/skills/shared/workspace-grounding.ts
  src/tests/skills/shared/workspace-grounding.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(debug): ground root-cause analysis in referenced file content
  src/skills/debug/debug-root-cause.ts
  src/tests/skills/debug/debug-root-cause-grounding.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check
