Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

lefthook.yml:

# Lefthook Git hooks configuration
# Fast Git hooks manager for maintaining code quality and security

# Global settings
min_version: 1.5.0

# Pre-commit hooks - run before commit is created
pre-commit:
  parallel: true
  commands:
    # ----------------------------- ğŸ”’ Security Tools ---------------------------- #
    gitleaks:
      tags: [security]
      # Moved the long embedded script into a dedicated executable script for clarity and maintainability
      run: ./lefthook/security_check.sh
      fail_text: "ğŸ”’ Gitleaks detected secrets in staged files"

    # --------------------------- ğŸ” Code Quality Tools -------------------------- #
    biome-check:
      tags: [format, lint]
      glob: "*.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      fail_text: "ğŸŸ¨ Biome formatting/linting issues found"

    typescript-check:
      tags: [types]
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
      fail_text: "ğŸ”· TypeScript type checking failed"

    # ----------------------------- ğŸ“ File Quality ---------------------------- #
    trailing-whitespace:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            perl -i -pe 's/[ \t]+$//' "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ Trailing whitespace removed"

    end-of-file-fixer:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ] && [ -s "$file" ] && [ "$(tail -c1 "$file")" != "" ]; then
            echo "" >> "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ End-of-file issues fixed"

# Pre-push hooks - run before push to remote
pre-push:
  commands:
    dependency-audit:
      tags: [security, audit]
      run: npm audit --omit=dev --audit-level=moderate
      fail_text: "ğŸ”’ Dependency vulnerabilities detected - push aborted. Run 'npm audit' for details."

    test-all:
      tags: [test]
      run: npm run test:all
      fail_text: "ğŸ§ª Tests failed - push aborted"

    quality-check:
      tags: [quality]
      run: npm run quality
      fail_text: "âš¡ Quality checks failed - push aborted"

# Output settings
output:
  - execution
  - success

Update title and URL for Green Software Practitioner resource
  src/tools/prompt/enterprise-architect-prompt-builder.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Update title for Green Software Practitioner resource to align with Green Software Engineering principles
  src/tools/prompt/enterprise-architect-prompt-builder.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Update Green Software Engineering reference to Green Software Foundation Training in prompt builder and tests
  src/tools/prompt/enterprise-architect-prompt-builder.ts
  tests/vitest/enterprise-architect-prompt-builder.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Ignore GitHub container registry URLs in link checker (#233)
  .github/workflows/link-checker.yml
  .lycheeignore
  .mlc_config.json
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-strategy-frameworks.md
  src/tools/prompt/enterprise-architect-prompt-builder.ts
  tests/vitest/enterprise-architect-prompt-builder.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Refactor semantic-code-analyzer into modular, extensible architecture with comprehensive testing (#188)
  SEMANTIC_ANALYZER_REFACTORING.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-semantic-analysis.md
  src/tools/bridge/semantic-analyzer-bridge.ts
  src/tools/semantic-analyzer/README.md
  src/tools/semantic-analyzer/analyzer.ts
  src/tools/semantic-analyzer/formatters.ts
  src/tools/semantic-analyzer/index.ts
  src/tools/semantic-analyzer/services/dependency-extraction.ts
  src/tools/semantic-analyzer/services/index.ts
  src/tools/semantic-analyzer/services/language-detection.ts
  src/tools/semantic-analyzer/services/pattern-detection.ts
  src/tools/semantic-analyzer/services/structure-analysis.ts
  src/tools/semantic-analyzer/services/symbol-extraction.ts
  src/tools/semantic-analyzer/types/index.ts
  src/tools/semantic-code-analyzer.ts
  tests/vitest/semantic-analyzer-core.test.ts
  tests/vitest/semantic-analyzer-edge-cases.test.ts
  tests/vitest/semantic-analyzer-services.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

[WIP] Implement agent-relative calls for all tools (#237)
  src/index.ts
  src/schemas/flow-tool-schemas.ts
  tests/vitest/agent-relative-calls.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Remove citation section from REFERENCES.md
  docs/REFERENCES.md
Due: trailing-whitespace, end-of-file-fixer

Expose context-aware design guidance in MCP server schema (#238)
  demos/demo-context-aware-guidance.js
  docs/CONTEXT_AWARE_GUIDANCE.md
  src/index.ts
  tests/vitest/mcp-design-assistant-exposure.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

📚 [DOCS] Add comprehensive acknowledgments and references documentation (#136)
  README.md
  docs/REFERENCES.md
  src/resources/structured.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Document type-specific config requirements in prompt-flow-builder schema (#240)
  SCHEMA_IMPROVEMENT.md
  src/schemas/flow-tool-schemas.ts
  tests/vitest/prompt-flow-builder-schema.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

chore: apply biome linting fixes to injection script
  scripts/inject-doc-templates.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

refactor: reorganize docs for MCP user perspective
  README.md
  docs/CODE_QUALITY_IMPROVEMENTS.md
  docs/DESIGN_MODULE_STATUS.md
  docs/EXPORT_FORMATS.md
  docs/MAINTAINING_MODELS.md
  docs/MERMAID_DIAGRAM_EXAMPLES.md
  docs/README.md
  docs/SPRINT_PLANNING_RELIABILITY.md
  docs/internal/MIGRATION_COMPLETION_SUMMARY.md
  docs/internal/MIGRATION_STRATEGY.md
  docs/internal/README.md
  docs/internal/TECHNICAL_IMPROVEMENTS.md
Due: trailing-whitespace, end-of-file-fixer

feat: reorganize documentation with visual design system and animated SVGs
  CHANGELOG.md
  README.md
  docs/README.md
  docs/TOOLS_REFERENCE.md
  docs/about/README.md
  docs/assets/readme-footer.svg
  docs/assets/readme-header.svg
  docs/assets/workflow-visualizations.md
  docs/internal/VISUAL_DESIGN_REFERENCE.md
  docs/tips/README.md
  docs/tools/README.md
Due: trailing-whitespace, end-of-file-fixer

refactor: update documentation and assets to enhance clarity and visual appeal
  .github/copilot-instructions.md
  README.md
  docs/.templates/header.html
  docs/about/README.md
  docs/assets/readme-header.svg
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

Checkpoint from VS Code for coding agent session
  docs/.templates/README.md
  docs/.templates/TEMPLATE_CONFIG.md
  docs/.templates/footer-developer.html
  docs/.templates/footer-reference.html
  docs/.templates/footer-specialized.html
  docs/.templates/footer-user-guide.html
  docs/.templates/footer.html
  docs/.templates/header-developer.html
  docs/.templates/header-reference.html
  docs/.templates/header-specialized.html
  docs/.templates/header-user-guide.html
  docs/.templates/header.html
  docs/assets/readme-footer.svg
  docs/assets/readme-header.svg
  docs/development/INTERACTIVE_FRAMES.md
  docs/development/README.md
  docs/development/TECHNICAL_IMPROVEMENTS.md
  docs/development/VISUAL_DESIGN_REFERENCE.md
  docs/internal/MIGRATION_COMPLETION_SUMMARY.md
  docs/internal/MIGRATION_STRATEGY.md
  docs/tips/AGENT_RELATIVE_CALLS.md
  docs/tips/AI_INTERACTION_TIPS.md
  docs/tips/BRIDGE_CONNECTORS.md
  docs/tips/CLEAN_CODE_INITIATIVE.md
  docs/tips/CODE_QUALITY_IMPROVEMENTS.md
  docs/tips/CONTEXT_AWARE_GUIDANCE.md
  docs/tips/DESIGN_GUIDELINES.md
  docs/tips/DESIGN_MODULE_STATUS.md
  docs/tips/ERROR_HANDLING.md
  docs/tips/EXPORT_FORMATS.md
  docs/tips/FLOW_PROMPTING_EXAMPLES.md
  docs/tips/FLOW_SERENA_INTEGRATION.md
  docs/tips/MAINTAINING_MODELS.md
  docs/tips/MERMAID_DIAGRAM_EXAMPLES.md
  docs/tips/PROMPTING_HIERARCHY.md
  docs/tips/REFERENCES.md
  docs/tips/SERENA_STRATEGIES.md
  docs/tips/SPRINT_PLANNING_RELIABILITY.md
  docs/tips/TOOLS_REFERENCE.md
  footer-header.prompt.md
Due: trailing-whitespace, end-of-file-fixer

Remove outdated interactive header files and manifest; add new animated SVG headers and footers for improved visual appeal and user engagement.
  README.md
  docs/.frames-interactive/README.md
  docs/.frames-interactive/footer-CHANGELOG.html
  docs/.frames-interactive/footer-CONTRIBUTING.html
  docs/.frames-interactive/footer-DISCLAIMER.html
  docs/.frames-interactive/footer-README.html
  docs/.frames-interactive/footer-about-README.html
  docs/.frames-interactive/footer-docs-README.html
  docs/.frames-interactive/footer-tips-README.html
  docs/.frames-interactive/footer-tools-README.html
  docs/.frames-interactive/header-CHANGELOG.html
  docs/.frames-interactive/header-CONTRIBUTING.html
  docs/.frames-interactive/header-DISCLAIMER.html
  docs/.frames-interactive/header-README.html
  docs/.frames-interactive/header-about-README.html
  docs/.frames-interactive/header-docs-README.html
  docs/.frames-interactive/header-tips-README.html
  docs/.frames-interactive/header-tools-README.html
  docs/.frames-interactive/manifest.json
  docs/.frames-static/readme-footer.svg
  docs/.frames-static/readme-header.svg
Due: biome-check, trailing-whitespace, end-of-file-fixer

Add SVG frames for MCP AI Agent Guidelines with enhanced animations and brand compliance
  docs/.frames-static/01-footer.svg
  docs/.frames-static/01-header.svg
  docs/.frames-static/02-footer.svg
  docs/.frames-static/02-header.svg
  docs/.frames-static/03-footer.svg
  docs/.frames-static/03-header.svg
  docs/.frames-static/04-footer.svg
  docs/.frames-static/04-header.svg
  docs/.frames-static/05-footer.svg
  docs/.frames-static/05-header.svg
  docs/.frames-static/06-footer.svg
  docs/.frames-static/06-header.svg
  docs/.frames-static/07-footer.svg
  docs/.frames-static/07-header.svg
  docs/.frames-static/08-footer.svg
  docs/.frames-static/08-header.svg
  docs/.frames-static/09-footer.svg
  docs/.frames-static/09-header.svg
  docs/.frames-static/10-footer.svg
  docs/.frames-static/10-header.svg
  docs/.frames-static/11-footer.svg
  docs/.frames-static/11-header.svg
  docs/.frames-static/12-footer.svg
  docs/.frames-static/12-header.svg
  docs/.frames-static/13-footer.svg
  docs/.frames-static/13-header.svg
  docs/.frames-static/14-footer.svg
  docs/.frames-static/14-header.svg
  docs/.frames-static/15-footer.svg
  docs/.frames-static/15-header.svg
  docs/.frames-static/DESIGN_CATALOG.md
  docs/.frames-static/ENHANCEMENT_STATUS.md
Due: trailing-whitespace, end-of-file-fixer

Add SVG Animation Enhancement Documentation and Implementation Scripts
  docs/.frames-static/01-footer.svg
  docs/.frames-static/01-header.svg
  docs/.frames-static/02-footer.svg
  docs/.frames-static/02-header.svg
  docs/.frames-static/03-footer.svg
  docs/.frames-static/03-header.svg
  docs/.frames-static/04-footer.svg
  docs/.frames-static/04-header.svg
  docs/.frames-static/05-footer.svg
  docs/.frames-static/05-header.svg
  docs/.frames-static/06-footer.svg
  docs/.frames-static/06-header.svg
  docs/.frames-static/07-footer.svg
  docs/.frames-static/07-header.svg
  docs/.frames-static/08-footer.svg
  docs/.frames-static/08-header.svg
  docs/.frames-static/09-footer.svg
  docs/.frames-static/09-header.svg
  docs/.frames-static/10-footer.svg
  docs/.frames-static/10-header.svg
  docs/.frames-static/11-footer.svg
  docs/.frames-static/11-header.svg
  docs/.frames-static/12-footer.svg
  docs/.frames-static/12-header.svg
  docs/.frames-static/13-footer.svg
  docs/.frames-static/13-header.svg
  docs/.frames-static/14-footer.svg
  docs/.frames-static/14-header.svg
  docs/.frames-static/15-footer.svg
  docs/.frames-static/15-header.svg
  docs/.frames-static/ANIMATION_STYLES.md
  docs/.frames-static/ENHANCEMENT_COMPLETE.md
  docs/.frames-static/ENHANCEMENT_SUMMARY.md
  docs/.frames-static/IMPLEMENTATION_COMPLETE.md
  docs/.frames-static/IMPLEMENTATION_GUIDE.md
  docs/.frames-static/QUICK_STATUS.md
  docs/.frames-static/README.md
  docs/.frames-static/STATUS_UPDATE.md
  docs/.frames-static/generate-unique-animations.sh
Due: trailing-whitespace, end-of-file-fixer

feat: Add enhanced SVG headers and documentation
  docs/.frames-static/01-header-simple-backup.svg
  docs/.frames-static/01-header.svg
  docs/.frames-static/02-header-simple-backup.svg
  docs/.frames-static/02-header.svg
  docs/.frames-static/03-header-old.svg
  docs/.frames-static/03-header.svg
  docs/.frames-static/04-header-simple-backup.svg
  docs/.frames-static/04-header.svg
  docs/.frames-static/05-header-simple-backup.svg
  docs/.frames-static/05-header.svg
  docs/.frames-static/06-header-simple-backup.svg
  docs/.frames-static/06-header.svg
  docs/.frames-static/07-header-simple-backup.svg
  docs/.frames-static/07-header.svg
  docs/.frames-static/08-header-simple-backup.svg
  docs/.frames-static/08-header.svg
  docs/.frames-static/09-header-simple-backup.svg
  docs/.frames-static/09-header.svg
  docs/.frames-static/10-header-simple-backup.svg
  docs/.frames-static/10-header.svg
  docs/.frames-static/11-header-simple-backup.svg
  docs/.frames-static/11-header.svg
  docs/.frames-static/12-header-simple-backup.svg
  docs/.frames-static/12-header.svg
  docs/.frames-static/13-header-simple-backup.svg
  docs/.frames-static/13-header.svg
  docs/.frames-static/14-header-simple-backup.svg
  docs/.frames-static/14-header.svg
  docs/.frames-static/15-header-simple-backup.svg
  docs/.frames-static/15-header.svg
  docs/.frames-static/COMPLETION_REPORT.md
  docs/.frames-static/COMPLETION_SUMMARY.md
  docs/.frames-static/ENHANCEMENT_STATUS.md
  docs/.frames-static/ENHANCEMENT_STRATEGY.md
  docs/.frames-static/SEQUENTIAL_PLAN.md
  docs/.frames-static/create-enhanced-batch1.sh
  docs/.frames-static/generate-enhanced-svgs.js
  docs/.frames-static/generate_enhanced.py
Due: biome-check, trailing-whitespace, end-of-file-fixer

Enhance SVG footers for coverage analysis, load balancer distribution, and WebSocket real-time updates
  docs/.frames-static/01-footer.svg
  docs/.frames-static/02-footer.svg
  docs/.frames-static/03-footer.svg
  docs/.frames-static/04-footer.svg
  docs/.frames-static/05-footer.svg
  docs/.frames-static/06-footer.svg
  docs/.frames-static/07-footer.svg
  docs/.frames-static/08-footer.svg
  docs/.frames-static/09-footer.svg
  docs/.frames-static/10-footer.svg
  docs/.frames-static/11-footer.svg
  docs/.frames-static/12-footer.svg
  docs/.frames-static/13-footer.svg
  docs/.frames-static/14-footer.svg
  docs/.frames-static/15-footer.svg
Due: none

Enhance SVG animations and visual effects in header and footer
  docs/.frames-static/01-footer.svg
  docs/.frames-static/01-header.svg
  docs/.frames-static/02-footer.svg
  docs/.frames-static/02-header.svg
  docs/.frames-static/03-footer.svg
  docs/.frames-static/03-header.svg
  docs/.frames-static/04-footer.svg
  docs/.frames-static/04-header.svg
  docs/.frames-static/05-footer.svg
  docs/.frames-static/05-header.svg
  docs/.frames-static/06-footer.svg
  docs/.frames-static/06-header.svg
  docs/.frames-static/07-footer.svg
  docs/.frames-static/07-header.svg
  docs/.frames-static/08-footer.svg
  docs/.frames-static/08-header.svg
  docs/.frames-static/09-footer.svg
  docs/.frames-static/09-header.svg
  docs/.frames-static/10-footer.svg
  docs/.frames-static/10-header.svg
  docs/.frames-static/11-footer.svg
  docs/.frames-static/11-header.svg
  docs/.frames-static/12-footer.svg
  docs/.frames-static/12-header.svg
  docs/.frames-static/13-footer.svg
  docs/.frames-static/13-header.svg
  docs/.frames-static/14-footer.svg
  docs/.frames-static/14-header.svg
  docs/.frames-static/15-footer.svg
  docs/.frames-static/15-header.svg
  reference/more-generic-prompt.md
Due: trailing-whitespace, end-of-file-fixer

Add comprehensive documentation for sprint planning, technical improvements, tools reference, and type organization
  docs/AGENT_RELATIVE_CALLS.md
  docs/AI_INTERACTION_TIPS.md
  docs/BRIDGE_CONNECTORS.md
  docs/CLEAN_CODE_INITIATIVE.md
  docs/CODE_QUALITY_IMPROVEMENTS.md
  docs/CONTEXT_AWARE_GUIDANCE.md
  docs/ERROR_HANDLING.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/MERMAID_DIAGRAM_EXAMPLES.md
  docs/PROMPTING_HIERARCHY.md
  docs/REFERENCES.md
  docs/SERENA_STRATEGIES.md
  docs/SPRINT_PLANNING_RELIABILITY.md
  docs/TECHNICAL_IMPROVEMENTS.md
  docs/TOOLS_REFERENCE.md
  docs/TYPE_ORGANIZATION_EXTENSION.md
Due: trailing-whitespace, end-of-file-fixer

fix: resolve Biome linting errors in extract-external-links.js
  docs/.frames-static/01-footer.svg
  docs/.frames-static/02-footer.svg
  docs/.frames-static/03-footer.svg
  docs/.frames-static/04-footer.svg
  docs/.frames-static/05-footer.svg
  docs/.frames-static/06-footer.svg
  docs/.frames-static/07-footer.svg
  docs/.frames-static/08-footer.svg
  docs/.frames-static/09-footer.svg
  docs/.frames-static/10-footer.svg
  docs/.frames-static/11-footer.svg
  docs/.frames-static/12-footer.svg
  docs/.frames-static/13-footer.svg
  docs/.frames-static/14-footer.svg
  docs/.frames-static/15-footer.svg
  docs/.frames-static/readme-footer.svg
  docs/development/LINK_EXTRACTION.md
  docs/development/README.md
  package.json
  scripts/extract-external-links.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

feat: add External Links Summary documentation with statistics and recommendations
  docs/EXTERNAL_LINKS_SUMMARY.md
Due: trailing-whitespace, end-of-file-fixer

fix: update links in documentation for consistency and accuracy
  docs/AGENT_RELATIVE_CALLS.md
  docs/CLEAN_CODE_INITIATIVE.md
  docs/CODE_QUALITY_IMPROVEMENTS.md
  docs/REFERENCES.md
  docs/development/TECHNICAL_IMPROVEMENTS.md
  docs/tips/AGENT_RELATIVE_CALLS.md
  docs/tips/BRIDGE_CONNECTORS.md
  docs/tips/CODE_QUALITY_IMPROVEMENTS.md
  tests/vitest/unit/design/README.md
Due: trailing-whitespace, end-of-file-fixer

fix: update links in documentation for consistency and accuracy
  docs/EXTERNAL_LINKS.md
  docs/EXTERNAL_LINKS_SUMMARY.md
  docs/README.md
Due: trailing-whitespace, end-of-file-fixer

fix: correct link to Contributing Guidelines in README.md
  docs/README.md
  tests/vitest/unit/design/README.md
Due: trailing-whitespace, end-of-file-fixer

fix: update generated timestamp in External Links Report
  .mlc_config.json
  docs/EXTERNAL_LINKS.md
Due: biome-check, trailing-whitespace, end-of-file-fixer

fix: update generated timestamp and correct link formatting in External Links Report
  docs/.frames-static/DESIGN_CATALOG.md
  docs/EXTERNAL_LINKS.md
Due: trailing-whitespace, end-of-file-fixer

Remove outdated documentation files: SPRINT_PLANNING_RELIABILITY.md, TECHNICAL_IMPROVEMENTS.md, TOOLS_REFERENCE.md, and TYPE_ORGANIZATION_EXTENSION.md
  README.md
  docs/AGENT_RELATIVE_CALLS.md
  docs/AI_INTERACTION_TIPS.md
  docs/BRIDGE_CONNECTORS.md
  docs/CLEAN_CODE_INITIATIVE.md
  docs/CODE_QUALITY_IMPROVEMENTS.md
  docs/CONTEXT_AWARE_GUIDANCE.md
  docs/ERROR_HANDLING.md
  docs/EXTERNAL_LINKS.md
  docs/EXTERNAL_LINKS_SUMMARY.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/MERMAID_DIAGRAM_EXAMPLES.md
  docs/PROMPTING_HIERARCHY.md
  docs/README.md
  docs/REFERENCES.md
  docs/SERENA_STRATEGIES.md
  docs/SPRINT_PLANNING_RELIABILITY.md
  docs/TECHNICAL_IMPROVEMENTS.md
  docs/TOOLS_REFERENCE.md
  docs/TYPE_ORGANIZATION_EXTENSION.md
Due: trailing-whitespace, end-of-file-fixer

fix: update documentation links to reflect new directory structure
  README.md
Due: trailing-whitespace, end-of-file-fixer

fix: update links in README.md to reflect new directory structure and add new documentation files
  README.md
  docs/tips/TECHNICAL_IMPROVEMENTS.md
  docs/tips/TYPE_ORGANIZATION_EXTENSION.md
Due: trailing-whitespace, end-of-file-fixer

fix: standardize documentation footers with SVG templates and remove redundant sections
  CHANGELOG.md
  CONTRIBUTING.md
  DOCUMENTATION_CLEANUP_SUMMARY.md
Due: trailing-whitespace, end-of-file-fixer

fix: update documentation file paths to docs/tips/ after restructuring
  CHANGELOG.md
  DOCUMENTATION_CLEANUP_SUMMARY.md
  docs/tips/AI_INTERACTION_TIPS.md
  docs/tips/design-guidelines.md
  footer-header.prompt.md
Due: trailing-whitespace, end-of-file-fixer
