Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, yaml-lint, json-lint, trailing-whitespace, end-of-file-fixer

biome-check:
  tags:
  - format
  - lint
  run: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched {staged_files}
  stage_fixed: true
  fail_text: 🟨 Biome formatting/linting issues found

typescript-check:
  tags:
  - types
  run: npx tsc --noEmit
  fail_text: 🔷 TypeScript type checking failed

yaml-lint:
  tags:
  - format
  - lint
  - validate
  run: "if command -v yamllint >/dev/null 2>&1; then\n  yamllint {staged_files}\nelse\n  echo \"⚠️  yamllint not found, skipping YAML validation\"\n  echo \"   Install: brew install yamllint (macOS) or pip install yamllint\"\nfi\n"
  fail_text: 📄 YAML syntax errors found

json-lint:
  tags:
  - format
  - lint
  - validate
  ...

trailing-whitespace:
  tags:
  - format
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    perl -i -pe 's/[ \\t]+$//' \"$file\"\n  fi\ndone\n"
  stage_fixed: true
  fail_text: 🧹 Trailing whitespace removed

end-of-file-fixer:
  tags:
  - format
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ] && [ -s \"$file\" ] && [ \"$(tail -c1 \"$file\")\" != \"\" ]; then\n    echo \"\" >> \"$file\"\n  fi\ndone\n"
  stage_fixed: true
  fail_text: 🧹 End-of-file issues fixed

Bumps package version to 0.10.0 (#315)
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

Delete docs/SVG_DARK_MODE_FIX.md
  docs/SVG_DARK_MODE_FIX.md
Due: trailing-whitespace, end-of-file-fixer

Add missing demo for quick-developer-prompts-builder tool (#318)
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-tools.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

Apply suggestions from code review
  demos/demo-tools.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

[WIP] Fix security audit test to run npm audit successfully (#334)
  tests/vitest/security-audit.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: extend CI tests to run on auto-regenerate-demos-* branches (#331)
  .github/workflows/ci-cd.yml
  .github/workflows/lefthook-quality-gates.yml
  .github/workflows/link-checker.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

chore: update version to 0.10.1 in package.json and package-lock.json
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: enhance mermaid diagram validation and add edge case tests
  src/tools/mermaid-diagram-generator.ts
  tests/vitest/mermaid-generator.edge-cases.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

tests(mermaid): increase coverage for dynamic mermaid import shapes, parse errors, repair/fallback behaviors
  tests/vitest/mermaid-diagram-generator.parse-mock.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix(tests): simplify mermaid mock implementations for clarity and consistency
  tests/vitest/mermaid-diagram-generator.parse-mock.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

tests(mermaid): fix mock scoping + ensure modules reset between tests to avoid leak; make dynamic import failure robust by throwing from parse
  tests/vitest/mermaid-diagram-generator.parse-mock.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix(mermaid): improve dynamic module loading and reset state for better validation handling
  src/tools/mermaid-diagram-generator.ts
  tests/vitest/mermaid-diagram-generator.parse-mock.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Fix mermaid.parse is not a function error in diagram generator (#333)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  package-lock.json
  package.json
  src/tools/mermaid-diagram-generator.ts
  tests/vitest/mermaid-diagram-generator.parse-mock.test.ts
  tests/vitest/mermaid-generator.edge-cases.test.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer

Add comprehensive tests for dependency auditor parsers
  tests/vitest/dependency-auditor-multi-language.test.ts
  tests/vitest/dependency-auditor-parsers.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Add tests for legacy package.json handling and critical issues in dependency auditor
  tests/vitest/dependency-auditor/error-handling.test.ts
  tests/vitest/dependency-auditor/legacy-critical.test.ts
  tests/vitest/dependency-auditor/pyproject.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

chore: update version to 0.10.2 in package.json and package-lock.json
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

release: `v0.11.0`
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

release: `v0.11.0` (#366)
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

test(dependency-auditor): add coverage for vulnerability detection
  tests/vitest/dependency-auditor/uv.test.ts
  tests/vitest/dependency-auditor/yarn.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

test: add comprehensive coverage improvements
  tests/vitest/dependency-auditor.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
  tests/vitest/semantic-analyzer/language-detection.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

test: increase coverage for new dependency auditor parsers
  tests/vitest/dependency-auditor/typescript.test.ts
  tests/vitest/dependency-auditor/uv.test.ts
  tests/vitest/dependency-auditor/yarn.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

test: increase coverage for design tools and clean-code-scorer
  tests/vitest/clean-code-scorer.test.ts
  tests/vitest/design-phase-workflow-phase2.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

test: achieve 100% line coverage for pivot-module.ts
  tests/vitest/pivot-module-comprehensive.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

refactor: remove dead skipped tests and enable valid ones
  package.json
  tests/vitest/coverage-enforcer-comprehensive.test.ts
  tests/vitest/design-phase-workflow-phase2.test.ts
  tests/vitest/maximum-coverage-expansion.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer

Add uv, yarn, and TypeScript parser support for dependency auditor (#365)
  demos/demo-dependency-audit.md
  package.json
  src/tools/dependency-auditor.ts
  src/tools/dependency-auditor/index.ts
  src/tools/dependency-auditor/parsers/index.ts
  src/tools/dependency-auditor/parsers/typescript.ts
  src/tools/dependency-auditor/parsers/uv.ts
  src/tools/dependency-auditor/parsers/yarn.ts
  src/tools/dependency-auditor/types.ts
  tests/vitest/clean-code-scorer.test.ts
  tests/vitest/coverage-enforcer-comprehensive.test.ts
  tests/vitest/dependency-auditor-parsers.test.ts
  tests/vitest/dependency-auditor.test.ts
  tests/vitest/dependency-auditor/typescript.test.ts
  tests/vitest/dependency-auditor/uv.test.ts
  tests/vitest/dependency-auditor/yarn.test.ts
  tests/vitest/design-phase-workflow-phase2.test.ts
  tests/vitest/maximum-coverage-expansion.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
  tests/vitest/semantic-analyzer/language-detection.test.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer

Update disclaimer section in README.md
  README.md
Due: trailing-whitespace, end-of-file-fixer

✨ Add coverage-dashboard-design-prompt-builder for UI/UX improvements (#369)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-quick-prompts-all.md
  demos/demo-quick-prompts-testing.md
  demos/demo-strategy-frameworks.md
  src/index.ts
  src/tools/prompt/coverage-dashboard-design-prompt-builder.ts
  tests/vitest/coverage-dashboard-design-prompt-builder.test.ts
  tests/vitest/server.handlers.coverage.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Refactor agent names to use hyphenated format for consistency
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
Due: trailing-whitespace, end-of-file-fixer

Enhance agent configurations with new tools and handoff prompts for improved functionality and collaboration
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
Due: trailing-whitespace, end-of-file-fixer

Remove AGENTS.md file to streamline documentation and focus on core guidelines
  AGENTS.md
Due: trailing-whitespace, end-of-file-fixer

Implement connected custom agent ecosystem for GitHub Copilot Coding Agent (#381)
  .github/agents/architecture-advisor.agent.md
  .github/agents/changelog-curator.agent.md
  .github/agents/ci-fixer.agent.md
  .github/agents/code-reviewer.agent.md
  .github/agents/debugging-assistant.agent.md
  .github/agents/dependency-guardian.agent.md
  .github/agents/documentation-generator.agent.md
  .github/agents/mcp-tool-builder.agent.md
  .github/agents/performance-optimizer.agent.md
  .github/agents/prompt-architect.agent.md
  .github/agents/security-auditor.agent.md
  .github/agents/tdd-workflow.agent.md
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

Bump version from 0.11.1 to 0.11.2
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

Bump version from 0.11.1 to 0.11.2 (#385)
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

feat: enforce documentation quality scripts in lefthook and CI (#371)
  .github/workflows/lefthook-quality-gates.yml
  CONTRIBUTING.md
  lefthook.yml
  lefthook/docs-naming-check.sh
  package.json
  scripts/lint-docs.js
Due: biome-check, yaml-lint, json-lint, trailing-whitespace, end-of-file-fixer

feat: add GitHub Actions workflow for Copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat: add GitHub Actions workflow for Copilot setup steps (#386)
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.{json,jsonc}
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  end-of-file-fixer: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
