Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

lefthook.yml:

# Lefthook Git hooks configuration
# Fast Git hooks manager for maintaining code quality and security

# Global settings
min_version: 1.5.0

# Pre-commit hooks - run before commit is created
pre-commit:
  parallel: true
  commands:
    # ----------------------------- ğŸ”’ Security Tools ---------------------------- #
    gitleaks:
      tags: [security]
      # Moved the long embedded script into a dedicated executable script for clarity and maintainability
      run: ./lefthook/security_check.sh
      fail_text: "ğŸ”’ Gitleaks detected secrets in staged files"

    # --------------------------- ğŸ” Code Quality Tools -------------------------- #
    biome-check:
      tags: [format, lint]
      glob: "*.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      fail_text: "ğŸŸ¨ Biome formatting/linting issues found"

    typescript-check:
      tags: [types]
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
      fail_text: "ğŸ”· TypeScript type checking failed"

    # ----------------------------- ğŸ“ File Quality ---------------------------- #
    trailing-whitespace:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            perl -i -pe 's/[ \t]+$//' "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ Trailing whitespace removed"

    end-of-file-fixer:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ] && [ -s "$file" ] && [ "$(tail -c1 "$file")" != "" ]; then
            echo "" >> "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ End-of-file issues fixed"

# Pre-push hooks - run before push to remote
pre-push:
  commands:
    dependency-audit:
      tags: [security, audit]
      run: npm audit --omit=dev --audit-level=moderate
      fail_text: "ğŸ”’ Dependency vulnerabilities detected - push aborted. Run 'npm audit' for details."

    test-all:
      tags: [test]
      run: npm run test:all
      fail_text: "ğŸ§ª Tests failed - push aborted"

    quality-check:
      tags: [quality]
      run: npm run quality
      fail_text: "âš¡ Quality checks failed - push aborted"

# Output settings
output:
  - execution
  - success

Add language-specific security/performance guidance and few-shot examples to prompt builders (#172)
  src/tools/prompt/code-analysis-prompt-builder.ts
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  tests/vitest/prompt-specificity-enhancement.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Replace generic technique hints with context-aware actionable instructions in hierarchical-prompt-builder (#173)
  demos/demo-code-analysis.hierarchical.prompt.md
  src/tools/prompt/hierarchical-prompt-builder.ts
  tests/unit/run-unit-tests.js
  tests/vitest/hierarchical-actionable-instructions.test.ts
  tests/vitest/hierarchical-builder.test.ts
  tests/vitest/hierarchical-prompt-builder.comprehensive.test.ts
  tests/vitest/unit/hierarchical-schema.validation.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Increases package version to 0.7.4
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

Increases version to v0.7.4
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

Increases version to v0.7.4 (#176)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

fix: update input file paths to be relative in demo code analysis files
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
Due: trailing-whitespace, end-of-file-fixer

fix: update input file paths to be relative in demo code analysis files (#177)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
Due: trailing-whitespace, end-of-file-fixer

chore: bump version to 0.7.5 in package.json and package-lock.json
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

chore: bump version to 0.7.5 in package.json and package-lock.json (#178)
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

[WIP] Replace buildSharedTechniqueHints with TechniqueApplicator (#179)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.security-hardening.prompt.md
  src/tools/prompt/hierarchical-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  src/tools/prompt/technique-applicator.ts
  src/tools/shared/prompt-sections.ts
  tests/vitest/technique-applicator.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Bumps version to 0.8.0
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

Add input-aware logic to security-hardening-prompt-builder (#180)
  demos/demo-code-analysis.security-hardening.prompt.md
  src/tools/prompt/debugging-assistant-prompt-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  tests/vitest/security-hardening-input-aware.test.ts
  tests/vitest/security-hardening-prompt-builder.edge-cases.test.ts
  tests/vitest/security-hardening-prompt-builder.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Add dependency-auditor tool for package modernization and security analysis (#182)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-dependency-auditor.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/index.ts
  src/tools/dependency-auditor.ts
  tests/vitest/dependency-auditor.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Enhance Copilot instructions with comprehensive architecture and patterns (#185)
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file-fixer

Add context-aware design pattern recommendations to design-assistant (#183)
  src/tools/design/design-assistant.ts
  src/tools/design/services/context-pattern-analyzer.service.ts
  src/tools/design/services/index.ts
  src/tools/design/services/session-management.service.ts
  tests/vitest/context-pattern-analyzer.test.ts
  tests/vitest/design-assistant-context-aware.test.ts
  tests/vitest/services/session-management.service.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Enable agent-relative call patterns for all MCP tools (#186)
  README.md
  docs/AGENT_RELATIVE_CALLS.md
  src/prompts/index.ts
  src/resources/index.ts
  src/resources/structured.ts
  tests/vitest/agent-relative-calls.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Automate demo regeneration on tool changes via GitHub Actions with 100% coverage (#187)
  .github/workflows/auto-regenerate-demos.yml
  README.md
  demos/README.md
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-coverage-enhancement.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-design-session.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  package.json
  scripts/validate-demo-coverage.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

Fix buildCategoryReferences to return human-readable format instead of JSON (#191)
  src/tools/guidelines-validator.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: add enterprise architect and L9 distinguished engineer prompt builders
  demos/demo-tools.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

refactor: extract reference disclaimer to shared constant (#193)
  demos/demo-architecture-design.prompt.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.analysis-prompt.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-debugging-assistant.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-documentation-generator.prompt.md
  demos/demo-enterprise-architect.prompt.md
  demos/demo-gap-analysis.md
  demos/demo-l9-engineer.prompt.md
  demos/demo-strategy-frameworks.md
  demos/demo-tools.js
  scripts/update-references.js
  src/tools/shared/constants.ts
  src/tools/shared/prompt-utils.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix: prevent bot commits from blocking PR with pending CI checks
  .github/workflows/auto-regenerate-demos.yml
Due: trailing-whitespace, end-of-file-fixer

style: standardize quotes in auto-regenerate-demos workflow
  .github/workflows/auto-regenerate-demos.yml
Due: trailing-whitespace, end-of-file-fixer

Copilot/sub pr 189 again (#195)
  .github/workflows/auto-regenerate-demos.yml
Due: trailing-whitespace, end-of-file-fixer

fix: remove dead links and fix broken file references
  demos/README.md
  docs/CLEAN_CODE_IMPLEMENTATION_SUMMARY.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/code-quality-improvements.md
  docs/design-module-status.md
  docs/sprint-planning-reliability.md
  docs/yaml-escape-implementation.md
  src/tools/prompt/prompt-flow-builder.ts
  tests/vitest/unit/design/README.md
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

docs: fix formatting in automated demo regeneration section
  demos/README.md
Due: trailing-whitespace, end-of-file-fixer

fix: skip Lefthook quality gates for github-actions[bot] [skip ci] commits
  .github/workflows/auto-regenerate-demos.yml
  .github/workflows/lefthook-quality-gates.yml
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  docs/CLEAN_CODE_IMPLEMENTATION_SUMMARY.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/code-quality-improvements.md
  docs/design-module-status.md
  docs/sprint-planning-reliability.md
  docs/yaml-escape-implementation.md
Due: trailing-whitespace, end-of-file-fixer

fix: correct dead links in progress/IMPLEMENTATION_STATUS_FEATURE.md
  progress/IMPLEMENTATION_STATUS_FEATURE.md
Due: trailing-whitespace, end-of-file-fixer

fix: update input file paths in demo markdown files to reflect local directory structure
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
Due: trailing-whitespace, end-of-file-fixer

fix: disable auto-regenerate-demos for PR #199 to prevent bot commit loop
  .github/workflows/auto-regenerate-demos.yml
Due: trailing-whitespace, end-of-file-fixer

fix: update various documentation links and improve formatting for clarity
  README.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-gap-analysis.md
  demos/demo-project-onboarding.md
  demos/demo-strategy-frameworks.md
  src/tools/analysis/gap-frameworks-analyzers.ts
  src/tools/analysis/strategy-frameworks-builder.ts
  src/tools/dependency-auditor.ts
  src/tools/project-onboarding.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix: update auto-regeneration workflow to run weekly and remove PR triggers
  .github/workflows/auto-regenerate-demos.yml
  .github/workflows/lefthook-quality-gates.yml
Due: trailing-whitespace, end-of-file-fixer

feat: Update .mlc_config.json to include additional ignore patterns
  .mlc_config.json
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
  tests/vitest/adr-generator-private-methods.test.ts
  tests/vitest/confirmation-module-private-methods.test.ts
  tests/vitest/constraint-consistency-enforcer-private-methods.test.ts
  tests/vitest/design-assistant-error-handling.test.ts
  tests/vitest/l9-distinguished-engineer-prompt-builder.test.ts
  tests/vitest/services/session-management.service.error-paths.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Fix workflow triggers and increase coverage thresholds to match actual coverage (#199)
  .github/workflows/auto-regenerate-demos.yml
  .github/workflows/lefthook-quality-gates.yml
  .github/workflows/link-checker.yml
  .mlc_config.json
  README.md
  demos/README.md
  demos/demo-clean-code-score.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-dependency-audit.md
  demos/demo-gap-analysis.md
  demos/demo-project-onboarding.md
  demos/demo-strategy-frameworks.md
  docs/CLEAN_CODE_IMPLEMENTATION_SUMMARY.md
  docs/FLOW_PROMPTING_EXAMPLES.md
  docs/code-quality-improvements.md
  docs/design-module-status.md
  docs/sprint-planning-reliability.md
  docs/yaml-escape-implementation.md
  progress/IMPLEMENTATION_STATUS_FEATURE.md
  src/resources/structured.ts
  src/tools/analysis/gap-frameworks-analyzers.ts
  src/tools/analysis/strategy-frameworks-builder.ts
  src/tools/dependency-auditor.ts
  src/tools/project-onboarding.ts
  src/tools/prompt/l9-distinguished-engineer-prompt-builder.ts
  src/tools/prompt/prompt-flow-builder.ts
  src/tools/prompt/security-hardening-prompt-builder.ts
  tests/vitest/adr-generator-private-methods.test.ts
  tests/vitest/confirmation-module-private-methods.test.ts
  tests/vitest/constraint-consistency-enforcer-private-methods.test.ts
  tests/vitest/design-assistant-error-handling.test.ts
  tests/vitest/l9-distinguished-engineer-prompt-builder.test.ts
  tests/vitest/services/session-management.service.error-paths.test.ts
  tests/vitest/unit/design/README.md
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix: move @types/js-yaml to devDependencies to fix TypeScript build
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

fix: update resource link URI patterns in structured resources
  .mlc_config.json
  package-lock.json
  src/resources/structured.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix: update CONTRIBUTING.md link paths in documentation
  demos/demo-dependency-audit.md
  docs/export-formats.md
  docs/maintaining-models.md
Due: trailing-whitespace, end-of-file-fixer

Fix link checker failures and improve lefthook configuration
  .github/workflows/lefthook-quality-gates.yml
  .yamllint
  lefthook.yml
Due: trailing-whitespace, end-of-file-fixer
