Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

biome-check:
  tags:
  - format
  - lint
  run: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched {staged_files}
  stage_fixed: true
  fail_text: 🟨 Biome formatting/linting issues found

typescript-check:
  tags:
  - types
  run: npx tsc --noEmit
  fail_text: 🔷 TypeScript type checking failed

trailing-whitespace:
  tags:
  - format
  run: sed -i 's/[[:space:]]*$//' {staged_files}
  stage_fixed: true
  fail_text: 🧹 Trailing whitespace removed

end-of-file-fixer:
  tags:
  - format
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ] && [ -s \"$file\" ] && [ \"$(tail -c1 \"$file\")\" != \"\" ]; then\n    echo \"\" >> \"$file\"\n  fi\ndone\n"
  stage_fixed: true
  fail_text: 🧹 End-of-file issues fixed

✨ [FEATURE] - Establish GitHub Copilot Usage Instructions and Best Practices (#65)
  CONTRIBUTING.md
  copilot-instructions.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
Due: trailing-whitespace, end-of-file-fixer

✨ [DOCUMENTATION] - Add GitHub Copilot instructions and guidelines for MCP AI Agent development
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file-fixer

docs(copilot): enforce readiness gate tied to coverage and add parameterized Vitest guidance
  .github/copilot-instructions.md
  tests/vitest/domain-neutral-builder.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

docs(copilot): streamline GitHub Copilot instructions and enhance quality gates
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file-fixer

🚀 Establish Q1 test coverage framework, comprehensive design tool testing, enhanced GitHub Copilot instructions, and coverage analysis validation (#66)
  .github/copilot-instructions.md
  copilot-instructions.md
  tests/vitest/analysis-tools-coverage.test.ts
  tests/vitest/confirmation-module-comprehensive.test.ts
  tests/vitest/coverage-enforcer-comprehensive.test.ts
  tests/vitest/domain-neutral-builder.test.ts
  tests/vitest/focused-function-coverage.test.ts
  tests/vitest/spec-generator-comprehensive.test.ts
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Create issue for cleanup of dead code
  issues/cleanup-dead-code.md
Due: trailing-whitespace, end-of-file-fixer

✅ [COMPLETED] Dead code cleanup successfully improved coverage - Removed 19 unused functions total (#68)
  DEAD_CODE_CLEANUP_SUMMARY.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/tools/design/confirmation-module.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/pivot-module.ts
  src/tools/design/roadmap-generator.ts
  src/tools/design/spec-generator.ts
  tests/vitest/additional-design-tools-coverage.test.ts
  tests/vitest/confirmation-module-comprehensive.test.ts
  tests/vitest/constraint-consistency-enforcer.test.ts
  tests/vitest/coverage-enforcer-comprehensive.test.ts
  tests/vitest/enhanced-confirmation-module.test.ts
  tests/vitest/enhanced-confirmation-module.test.ts.backup
  tests/vitest/final-coverage-push.test.ts
  tests/vitest/function-coverage-simple.test.ts
  tests/vitest/maximum-coverage-expansion.test.ts
  tests/vitest/pivot-module-comprehensive.test.ts
  tests/vitest/spec-generator-comprehensive.test.ts
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Open issue regarding CI job failure due to missing git and cosign installation errors
  issues/1.md
Due: trailing-whitespace, end-of-file-fixer

Delete issues/1.md
  issues/1.md
Due: trailing-whitespace, end-of-file-fixer

Delete issues/cleanup-dead-code.md
  issues/cleanup-dead-code.md
Due: trailing-whitespace, end-of-file-fixer

🐛 Fix Docker build failure by making lefthook install conditional (#70)
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

✨ Implement iterative coverage enhancement & dead code elimination tool with comprehensive test coverage (#72)
  src/index.ts
  src/tools/iterative-coverage-enhancer.ts
  tests/vitest/enhanced-coverage-improvement.test.ts
  tests/vitest/iterative-coverage-enhancer.test.ts
  tests/vitest/targeted-function-coverage.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

build: Bump version to 0.7.0 in package.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

build: Bump version to 0.7.0 in package.json (#73)
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

Enhance references and CI/CD integration details
  src/tools/iterative-coverage-enhancer.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

chore: Update checkout action to fetch full history and reference current branch
  .github/workflows/lefthook-quality-gates.yml
Due: trailing-whitespace, end-of-file-fixer

fix: Correct indentation in documentation links for consistency
  src/tools/iterative-coverage-enhancer.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Enhance references and CI/CD integration details (#74)
  .github/workflows/lefthook-quality-gates.yml
  src/tools/iterative-coverage-enhancer.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

chore: Enhance strategy framework documentation and improve code clarity
  DEAD_CODE_CLEANUP_SUMMARY.md
  FUNCTION_COVERAGE_ANALYSIS.md
  demos/README.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierachical.prompt.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.mermaid.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-code-analysis.validator.md
  demos/demo-code-strategy-analysis.md
  demos/demo-constraint-consistency.js
  demos/demo-design-assistant.adr.md
  demos/demo-design-assistant.roadmap.md
  demos/demo-gap-analysis.md
  demos/demo-methodology-selector.js
  demos/demo-strategy-frameworks.md
  demos/design-assistant-summary.md
Due: biome-check, trailing-whitespace, end-of-file-fixer

build: update version to 0.7.1 in package.json and package-lock.json
  package-lock.json
  package.json
Due: biome-check, trailing-whitespace, end-of-file-fixer

delete: remove backup test file for enhanced confirmation module
  tests/vitest/enhanced-confirmation-module.test.ts.backup
Due: none

chore: refactor/linting documents (#75)
  DEAD_CODE_CLEANUP_SUMMARY.md
  FUNCTION_COVERAGE_ANALYSIS.md
  demos/README.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierachical.prompt.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.mermaid.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-code-analysis.validator.md
  demos/demo-code-strategy-analysis.md
  demos/demo-constraint-consistency.js
  demos/demo-design-assistant.adr.md
  demos/demo-design-assistant.roadmap.md
  demos/demo-gap-analysis.md
  demos/demo-methodology-selector.js
  demos/demo-strategy-frameworks.md
  demos/design-assistant-summary.md
  package-lock.json
  package.json
  tests/vitest/enhanced-confirmation-module.test.ts.backup
Due: biome-check, trailing-whitespace, end-of-file-fixer

✨ Add structured point schema and enhance framework rendering with actionable artifacts
  src/tools/analysis/strategy-frameworks-builder.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat(demos): Introduce demo_code_analysis.py with improved safety and maintainability features
  .gitignore
  demos/README.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo_code_analysis.py
  demos/test_demo_analysis.py
  gap_analysis.issue.md
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/strategic-pivot-prompt-builder.ts
  tests/vitest/strategy-frameworks-builder.artifacts.extra.test.ts
  tests/vitest/strategy-frameworks-builder.artifacts.test.ts
  tests/vitest/strategy-frameworks-builder.points.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: Enhance coverage checks and defensive hardening tests
  package.json
  scripts/check-coverage.cjs
  scripts/check-coverage.js
  src/tools/design/cross-session-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/memory-context-optimizer.ts
  src/tools/model-compatibility-checker.ts
  tests/vitest/unit/hardened-defensive.tests.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Enhance framework with structured points and demo code analysis improvements (#82)
  .gitignore
  demos/README.md
  demos/demo-code-analysis.diagram.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  demos/demo_code_analysis.py
  demos/test_demo_analysis.py
  gap_analysis.issue.md
  package.json
  scripts/check-coverage.cjs
  scripts/check-coverage.js
  src/tools/analysis/strategy-frameworks-builder.ts
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/cross-session-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/strategic-pivot-prompt-builder.ts
  src/tools/memory-context-optimizer.ts
  src/tools/model-compatibility-checker.ts
  tests/vitest/strategy-frameworks-builder.artifacts.extra.test.ts
  tests/vitest/strategy-frameworks-builder.artifacts.test.ts
  tests/vitest/strategy-frameworks-builder.points.test.ts
  tests/vitest/unit/hardened-defensive.tests.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

test(design): add targeted priority tests and fix design priority test file
  .gitignore
  src/tools/sprint-timeline-calculator.ts
  tests/vitest/unit/design-tools-priority.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: Harden input schema validation in hierarchical prompt builder with strict types and comprehensive tests (#83)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  src/tools/prompt/hierarchical-prompt-builder.ts
  tests/vitest/unit/hierarchical-schema.validation.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: Implement fenced-aware normalizer to preserve code blocks in output format (#84)
  src/tools/prompt/hierarchical-prompt-builder.ts
  tests/vitest/unit/normalizeOutputFormat.edgecases.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Remove test change note for Docker fix
  README.md
Due: trailing-whitespace, end-of-file-fixer

Remove test change note for Docker fix (#85)
  README.md
Due: trailing-whitespace, end-of-file-fixer

Delete gap_analysis.issue.md
  gap_analysis.issue.md
Due: trailing-whitespace, end-of-file-fixer

Delete gap_analysis.issue.md (#87)
  gap_analysis.issue.md
Due: trailing-whitespace, end-of-file-fixer

feat: Add YAML escape utility and bounded slugify for frontmatter security (#86)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  docs/yaml-escape-implementation.md
  src/tools/shared/prompt-utils.ts
  tests/vitest/prompt-utils.yaml-escape.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat: Add smoke tests and IMPLEMENTATION_STATUS sentinels to Design folder modules (#88)
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  docs/design-module-status.md
  src/tools/design/adr-generator.ts
  src/tools/design/confirmation-module.ts
  src/tools/design/confirmation-prompt-builder.ts
  src/tools/design/constraint-consistency-enforcer.ts
  src/tools/design/constraint-manager.ts
  src/tools/design/coverage-enforcer.ts
  src/tools/design/cross-session-consistency-enforcer.ts
  src/tools/design/design-assistant.ts
  src/tools/design/design-phase-workflow.ts
  src/tools/design/index.ts
  src/tools/design/methodology-selector.ts
  src/tools/design/pivot-module.ts
  src/tools/design/roadmap-generator.ts
  src/tools/design/spec-generator.ts
  src/tools/design/strategic-pivot-prompt-builder.ts
  tests/vitest/unit/design/README.md
  tests/vitest/unit/design/smoke-implemented-detection.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Verify IMPLEMENTATION_STATUS exports - feature already complete (#95)
  IMPLEMENTATION_STATUS_FEATURE.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
Due: trailing-whitespace, end-of-file-fixer

refactor: update Copilot instructions for clarity and structure
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file-fixer

fix: Address PR #88 review suggestions and correct coverage baseline documentation (#89)
  .github/copilot-instructions.md
  tests/vitest/unit/design/smoke-implemented-detection.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Fix coverage reporting: Import from src/ instead of dist/ in tests (#97)
  COVERAGE_IMPROVEMENT_SUMMARY.md
  demos/demo-code-analysis.domain-neutral.prompt.md
  demos/demo-code-analysis.guidelines.md
  demos/demo-code-analysis.hierarchical.prompt.md
  demos/demo-code-analysis.hygiene.md
  demos/demo-code-analysis.memory.md
  demos/demo-code-analysis.model-compat.md
  demos/demo-code-analysis.security-hardening.prompt.md
  demos/demo-code-analysis.spark.prompt.md
  demos/demo-code-analysis.sprint.md
  demos/demo-gap-analysis.md
  demos/demo-strategy-frameworks.md
  package-lock.json
  tests/vitest/coverage-boost.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  end-of-file-fixer: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
