Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, yaml-lint, json-lint, docs-quality, docs-svg-fix, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.{json,jsonc}
  docs-quality: any of: docs/**/*.{md,svg}
  docs-svg-fix: any of: docs/**/*.svg
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  end-of-file-fixer: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  esm-imports-check: any of: *.{ts,tsx}
  typescript-any-check: any of: *.{ts,tsx}
  test-coverage-check: any of: src/**/*.{ts,tsx}
  console-log-check: any of: src/**/*.{ts,tsx,js,jsx}
  quick-test-check: any of: *.{ts,tsx}

fix: update README and CLI documentation for latest package syntax and entrypoints
  README.md
  docs/src/content/docs/reference/cli.mdx
  src/index.ts
  src/tests/readme-installation.test.ts
  src/tests/runtime/entrypoint-detection.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: rename entry point for MCP server to improve clarity and avoid confusion
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

feat: add Jest for testing and update orchestration config tests
  docs/.astro/content-modules.mjs
  package-lock.json
  package.json
  src/tests/config/orchestration-config.test.ts
  src/tests/readme-installation.test.ts
  src/tests/resources/resource-surface.test.ts
  src/tests/runtime/entrypoint-detection.test.ts
  src/tests/runtime/mcp-server.test.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore(deps): update repo-release-tools to v0.1.10 and adopt unreleased changelog strategy
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  CHANGELOG.md
  lefthook.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat: add Jest testing support and improve observability infrastructure
  jest.config.mjs
  package-lock.json
  package.json
  src/infrastructure/index.ts
  src/tests/infrastructure/index.test.ts
  src/tests/models/model-orchestration-runner.test.ts
  src/tests/workflows/parallel-runner.test.ts
  src/tests/workflows/serial-runner.test.ts
  tests-jest/esm-entrypoints.test.mjs
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: update changelog to include Jest testing support and observability improvements
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: update changelog to reflect Jest testing support and observability improvements
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: update changelog to reflect recent Jest testing support and observability improvements
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: enhance Jest testing support and improve orchestration config tests
  .github/copilot-instructions.md
  CHANGELOG.md
  jest.config.mjs
  src/tests/config/orchestration-config.test.ts
  src/tests/globalSetup.ts
  src/tests/workflows/parallel-runner.test.ts
  src/tests/workflows/serial-runner.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: add missing entry for Jest testing support and orchestration config tests in changelog
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: running server (#1433)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  cpm.lock
  docs/.astro/content-modules.mjs
  docs/src/content/docs/reference/cli.mdx
  jest.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/index.ts
  src/infrastructure/index.ts
  src/tests/config/orchestration-config.test.ts
  src/tests/globalSetup.ts
  src/tests/infrastructure/index.test.ts
  src/tests/models/model-orchestration-runner.test.ts
  src/tests/readme-installation.test.ts
  src/tests/resources/resource-surface.test.ts
  src/tests/runtime/entrypoint-detection.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/workflows/parallel-runner.test.ts
  src/tests/workflows/serial-runner.test.ts
  tests-jest/esm-entrypoints.test.mjs
Due: biome-check, typescript-check, yaml-lint, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: bump version to v0.15.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.1 (#1437)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

feat: implement advisory bootstrap defaults for orchestration config
  README.md
  src/config/orchestration-config-service.ts
  src/config/orchestration-config.ts
  src/config/orchestration-defaults.ts
  src/tests/config/orchestration-config-service.test.ts
  src/tests/config/orchestration-config.test.ts
  src/tests/config/orchestration-defaults.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: update changelog to include advisory bootstrap defaults for orchestration config
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

test: add comprehensive tests for orchestration config handling and fallback logic
  src/tests/config/orchestration-config-bootstrap-failure.test.ts
  src/tests/config/orchestration-config-extra.test.ts
  src/tests/config/orchestration-config-phase3.test.ts
  src/tests/config/orchestration-config-service.test.ts
  src/tests/config/orchestration-config.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: onboarding file (#1441)
  CHANGELOG.md
  README.md
  src/config/orchestration-config-service.ts
  src/config/orchestration-config.ts
  src/config/orchestration-defaults.ts
  src/tests/config/orchestration-config-bootstrap-failure.test.ts
  src/tests/config/orchestration-config-extra.test.ts
  src/tests/config/orchestration-config-phase3.test.ts
  src/tests/config/orchestration-config-service.test.ts
  src/tests/config/orchestration-config.test.ts
  src/tests/config/orchestration-defaults.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: bump version to v0.15.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.2 (#1442)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.3 (#1444)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

refactor: streamline onboarding process and enhance memory interface initialization
  src/cli.ts
  src/memory/toon-interface.ts
  src/runtime/session-store-utils.ts
  src/tests/runtime/session-store-utils.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: enhance meta-routing instruction for better task classification and usage guidance
  .agent/hooks/pre-tool-use.js
  .agent/hooks/session-start.js
  .agent/rules/copilot.md
  .agent/rules/default.md
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  docs/src/content/docs/reference/env-variables.mdx
  docs/workflows/12-adapt.json
  docs/workflows/12-adapt.md
  src/cli.ts
  src/cli/script-runner.ts
  src/config/orchestration-config.ts
  src/contracts/generated.ts
  src/generated/instructions/adapt.ts
  src/generated/instructions/bootstrap.ts
  src/generated/instructions/meta-routing.ts
  src/generated/instructions/onboard_project.ts
  src/index.ts
  src/instructions/instruction-specs.ts
  src/memory/coherence-scanner.ts
  src/memory/toon-interface.ts
  src/onboarding/wizard.ts
  src/runtime/session-store-utils.ts
  src/tests/cli/cli.test.ts
  src/tests/config/orchestration-config-bootstrap-failure.test.ts
  src/tests/config/orchestration-config.test.ts
  src/tests/mcp/tool-coverage-matrix.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/shared/tool-surface-manifest.test.ts
  src/tests/tools/snapshot-tools.test.ts
  src/tests/validation/index.test.ts
  src/tests/validation/input-guards.test.ts
  src/tools/memory-tools.ts
  src/tools/session-tools.ts
  src/tools/shared/tool-surface-manifest.ts
  src/validation/environment.ts
  src/validation/input-guards.ts
Due: biome-check, typescript-check, json-lint, docs-quality, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: update changelog to reflect recent enhancements in onboarding and meta-routing instructions
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: update changelog to include recent enhancements in onboarding and meta-routing instructions
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

test: add coverage tests for PR #1461 patch gaps
  CHANGELOG.md
  src/tests/cli-script-runner.test.ts
  src/tests/cli/hooks.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/onboarding/wizard.test.ts
  src/tests/runtime/session-store-utils.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/session-tools.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

test: close remaining Codecov patch gaps for PR #1461
  src/tests/cli/onboard.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/runtime/session-store-utils.test.ts
  src/tests/tools/shared/tool-surface-manifest.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: address all Copilot review comments from PR #1461 and add push-ready gate
  .github/hooks/pr-quality-gate.json
  .github/hooks/push-ready.json
  .github/hooks/scripts/pr-quality-gate.js
  .github/hooks/scripts/push-ready.js
  .github/hooks/scripts/refresh-pr-quality-cache.js
  .github/instructions/coverage-guard.instructions.md
  .github/skills/address-pr-review-locally/SKILL.md
  .github/skills/fix-codecov-gaps/SKILL.md
  .github/skills/pr-quality-cycle/SKILL.md
  README.md
  docs/src/content/docs/reference/env-variables.mdx
  src/cli.ts
  src/cli/script-runner.ts
  src/memory/coherence-scanner.ts
  src/onboarding/wizard.ts
  src/runtime/session-store-utils.ts
  src/tests/cli/onboard.test.ts
  src/tests/cli/script-runner.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/tools/shared/tool-surface-manifest.test.ts
  src/tools/shared/tool-surface-manifest.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: add coverage-guard PreToolUse hook targeting 95% total coverage
  .github/hooks/coverage-guard.json
  .github/hooks/scripts/coverage-guard.js
  .github/hooks/scripts/push-ready.js
  CHANGELOG.md
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: bump version to v0.15.4 (#1462)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

test: expand coverage and scope state writes to cwd
  .github/.agent/hooks/pre-tool-use.js
  .github/.agent/hooks/session-start.js
  .github/.agent/rules/copilot.md
  .github/.agent/rules/default.md
  package-lock.json
  package.json
  src/runtime/session-crypto.ts
  src/runtime/session-store-utils.ts
  src/tests/infrastructure/observability.test.ts
  src/tests/models/model-router-phase6.test.ts
  src/tests/runtime/session-crypto.test.ts
  src/tests/runtime/session-store-utils.test.ts
  src/tests/runtime/toon-ecosystem-demo.test.ts
  src/tests/tools/model-discovery.test.ts
  src/tests/visualization/svg-export.test.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: apply tool-surface refactor and add rrt config
  .github/.agent/rules/default.md
  .github/.agent/rules/no-legacy-tool-split.md
  .github/hooks/no-legacy-tool-surface.json
  .github/hooks/scripts/no-legacy-tool-surface.js
  .github/instructions/no-legacy-tool-surface.instructions.md
  .rrt.toml
  src/cli.ts
  src/index.ts
  src/instructions/instruction-specs.ts
  src/tests/contracts/generated.test.ts
  src/tests/mcp/tool-coverage-matrix.test.ts
  src/tests/runtime/mcp-server.test.ts
  src/tests/simulations/session-1.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/result-formatter.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/snapshot-tools.test.ts
  src/tests/tools/tool-call-handler-extra.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tools/memory-tools.ts
  src/tools/session-tools.ts
  src/tools/snapshot-tools.ts
  src/tools/tool-call-handler.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: update tool references and enhance memory tool tests for better context handling
  .github/.agent/hooks/pre-tool-use.js
  src/skills/shared/recommendations.ts
  src/tests/mcp/sdk-compatibility-lane.test.ts
  src/tests/skills/shared/recommendations.test.ts
  src/tests/tools/memory-tools.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: update changelog to include recent enhancements in memory tool tests
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

feat: add coverage stability pre-tool hook to enforce coverage thresholds
  .github/hooks/coverage-stability.json
  .github/hooks/scripts/coverage-stability.js
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

test: add comprehensive tests for session tools and request handlers
  src/tests/index.test.ts
  src/tests/skills/orch/orch-agent-orchestrator.test.ts
  src/tests/skills/qm/qm-dirac-notation-mapper.test.ts
  src/tests/skills/qm/qm-double-slit-interference.test.ts
  src/tests/skills/qm/qm-schrodinger-picture.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: enhance error handling and validation in memory and session tools
  .github/hooks/scripts/no-legacy-tool-surface.js
  src/generated/instructions/bootstrap.ts
  src/generated/instructions/onboard_project.ts
  src/tests/index.test.ts
  src/tests/runtime/toon-ecosystem-demo.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/snapshot-tools.test.ts
  src/tools/memory-tools.ts
  src/tools/session-tools.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check
