Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, yaml-lint, json-lint, docs-quality, docs-svg-fix, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}
  typescript-check: any of: *.{ts,tsx}
  yaml-lint: any of: *.{yml,yaml}
  json-lint: any of: *.{json,jsonc}
  docs-quality: any of: docs/**/*.{md,svg}
  docs-svg-fix: any of: docs/**/*.svg
  trailing-whitespace: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  end-of-file-fixer: any of: *.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}
  esm-imports-check: any of: *.{ts,tsx}
  typescript-any-check: any of: *.{ts,tsx}
  test-coverage-check: any of: src/**/*.{ts,tsx}
  console-log-check: any of: src/**/*.{ts,tsx,js,jsx}
  quick-test-check: any of: *.{ts,tsx}

fix(ci): fix link-checker glob pattern and drop over-provisioned permission
  .github/workflows/link-checker.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix(ci): pin npm version, add provenance flag, pin third-party action SHAs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/tests/globalSetup.ts
Due: biome-check, typescript-check, yaml-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore(governance): restore SECURITY.md, CODE_OF_CONDUCT.md, dependabot.yml
  .github/dependabot.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(security): add npm audit, SBOM generation, and Trivy Docker scan
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(config): add initial .mcp.json configuration for AI agent guidelines
  .mcp.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

feat(tests): add orchestration.toml test fixture configuration
  src/tests/fixtures/orchestration.toml
Due: none

feat(cleanup): remove link checker workflow and ignore file
  .github/workflows/link-checker.yml
  .lycheeignore
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(tests): update session secret handling and fix reviewer model ID in tests
  src/runtime/session-crypto.ts
  src/tests/config/orchestration-config.test.ts
  src/tests/runtime/llm-lane-executor.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(tests): update expected model ID for implement profile test
  src/tests/config/orchestration-config.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(ci): set fetch-depth to 0 for Gitleaks base commit scans
  .github/workflows/ci.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(ci): add lint job with Lefthook for code quality checks
  .github/workflows/ci.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(changelog): update changelog with new test fixture and CI enhancements
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

feat(tests): add poolMatchGlobs for CLI test execution in child processes
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, quick-test-check

feat(ci): update CI test matrix to drop Node 20 and add Node 26
  .github/workflows/ci.yml
  CHANGELOG.md
  vitest.config.ts
Due: biome-check, typescript-check, yaml-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, quick-test-check

feat(docs): update Node version requirement from 20 to 22 in style and conventions
  .serena/memories/style_and_conventions.md
Due: trailing-whitespace, end-of-file-fixer

feat(ci): update CI test matrix to include 'latest' Node version
  .github/workflows/ci.yml
  CHANGELOG.md
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

feat(tests): enhance snapshot status test with mocking for fingerprint loading
  src/tests/tools/tool-call-handler.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(changelog): update CHANGELOG.md for structured snapshot status payloads and CI improvements
  CHANGELOG.md
  lefthook.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: remove canvas devDependency causing Docker build failure on Alpine
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

Update CHANGELOG.md
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: remove canvas devDependency causing Docker build failure on Alpine (#1394)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

feat(tests): add validation and diagnostics for external tools, enhance tool validators, and improve workflow tests
  src/tests/config/orchestration-config.test.ts
  src/tests/infrastructure/index.test.ts
  src/tests/infrastructure/state-machine-orchestration.test.ts
  src/tests/infrastructure/statistical-analysis-helpers.test.ts
  src/tests/infrastructure/unified-orchestration.test.ts
  src/tests/memory/lsp-scan-bridge.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/memory/toon-memory-helpers.test.ts
  src/tests/models/model-router.test.ts
  src/tests/onboarding/wizard.test.ts
  src/tests/presentation/cli-extensions.test.ts
  src/tests/presentation/documentation-integration.test.ts
  src/tests/runtime/llm-lane-executor.test.ts
  src/tests/runtime/orchestration-runtime.test.ts
  src/tests/runtime/skill-cache.test.ts
  src/tests/skills/shared/recommendations.test.ts
  src/tests/snapshots/cache-io.test.ts
  src/tests/snapshots/content-hash.test.ts
  src/tests/snapshots/document-symbols.test.ts
  src/tests/snapshots/language-server-adapter.test.ts
  src/tests/snapshots/schemas.test.ts
  src/tests/snapshots/symbol-body.test.ts
  src/tests/snapshots/symbol-cache.test.ts
  src/tests/snapshots/symbol-change-tracker.test.ts
  src/tests/snapshots/toon-markdown.test.ts
  src/tests/snapshots/types.test.ts
  src/tests/snapshots/usage-example.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/shared/tool-surface-manifest.test.ts
  src/tests/tools/shared/tool-validators.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tests/validation/input-guards.test.ts
  src/tests/visualization/glyph-registry.test.ts
  src/tests/workflows/mermaid-bridge.test.ts
  src/tests/workflows/parallel-runner.test.ts
  src/tests/workflows/serial-runner.test.ts
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat(changelog): add regression coverage for core runtime modules to enhance branch coverage
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

style(tests): format code for improved readability in cli-extensions and recommendations tests
  src/tests/presentation/cli-extensions.test.ts
  src/tests/skills/shared/recommendations.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix(changelog): remove unused canvas devDependency causing Docker build failures and add regression coverage for core runtime modules
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix(tests): update expected model ID for implement profile resolution in orchestration-config tests
  CHANGELOG.md
  src/tests/config/orchestration-config.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

test: Add validation and diagnostics for external tools, enhance tool validators, and improve workflow tests (#1396)
  CHANGELOG.md
  src/tests/config/orchestration-config.test.ts
  src/tests/infrastructure/index.test.ts
  src/tests/infrastructure/state-machine-orchestration.test.ts
  src/tests/infrastructure/statistical-analysis-helpers.test.ts
  src/tests/infrastructure/unified-orchestration.test.ts
  src/tests/memory/lsp-scan-bridge.test.ts
  src/tests/memory/toon-interface.test.ts
  src/tests/memory/toon-memory-helpers.test.ts
  src/tests/models/model-router.test.ts
  src/tests/onboarding/wizard.test.ts
  src/tests/presentation/cli-extensions.test.ts
  src/tests/presentation/documentation-integration.test.ts
  src/tests/runtime/llm-lane-executor.test.ts
  src/tests/runtime/orchestration-runtime.test.ts
  src/tests/runtime/skill-cache.test.ts
  src/tests/skills/shared/recommendations.test.ts
  src/tests/snapshots/cache-io.test.ts
  src/tests/snapshots/content-hash.test.ts
  src/tests/snapshots/document-symbols.test.ts
  src/tests/snapshots/language-server-adapter.test.ts
  src/tests/snapshots/schemas.test.ts
  src/tests/snapshots/symbol-body.test.ts
  src/tests/snapshots/symbol-cache.test.ts
  src/tests/snapshots/symbol-change-tracker.test.ts
  src/tests/snapshots/toon-markdown.test.ts
  src/tests/snapshots/types.test.ts
  src/tests/snapshots/usage-example.test.ts
  src/tests/tools/memory-tools.test.ts
  src/tests/tools/session-tools.test.ts
  src/tests/tools/shared/tool-surface-manifest.test.ts
  src/tests/tools/shared/tool-validators.test.ts
  src/tests/tools/tool-call-handler.test.ts
  src/tests/validation/input-guards.test.ts
  src/tests/visualization/glyph-registry.test.ts
  src/tests/workflows/mermaid-bridge.test.ts
  src/tests/workflows/parallel-runner.test.ts
  src/tests/workflows/serial-runner.test.ts
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

feat: Refactor test cases for improved readability and consistency
  src/tests/infrastructure/statistical-analysis-helpers-extra.test.ts
  src/tests/models/model-router-extra.test.ts
  src/tests/models/multi-model-executor-extra.test.ts
  src/tests/skills/adapt/adapt-annealing-extra.test.ts
  src/tests/skills/adapt/adapt-quorum-extra.test.ts
  src/tests/skills/orch/orch-multi-agent-extra.test.ts
  src/tests/skills/orch/orch-result-synthesis-extra.test.ts
  src/tests/skills/qm/qm-heisenberg-picture-extra.test.ts
  src/tests/skills/qm/qm-tunneling-breakthrough-extra.test.ts
  src/tests/skills/qm/qm-uncertainty-tradeoff-extra.test.ts
  src/tests/skills/resil/resil-replay-extra.test.ts
  src/tests/skills/synth/synth-comparative-extra.test.ts
  src/tests/snapshots/symbol-change-tracker-extra.test.ts
  src/tests/tools/tool-call-handler-extra.test.ts
  src/tests/tools/visualization-tools-extra.test.ts
  src/tests/tools/workspace-tools-extra.test.ts
  src/tests/validation/error-handling-extra.test.ts
  src/tests/workflows/workflow-telemetry-extra.test.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: update code structure for improved readability and maintainability
  .test-mcp-ai-agent-guidelines-housekeeping-avzb1f/snapshots/fingerprint-20260417205411-5d8f5d95.json
  .test-mcp-ai-agent-guidelines-housekeeping-avzb1f/snapshots/fingerprint-history.json
  .test-mcp-ai-agent-guidelines-housekeeping-avzb1f/snapshots/fingerprint-latest.json
  .test-mcp-ai-agent-guidelines-housekeeping-xuZZEE/snapshots/fingerprint-20260417205407-cd987d89.json
  .test-mcp-ai-agent-guidelines-housekeeping-xuZZEE/snapshots/fingerprint-history.json
  .test-mcp-ai-agent-guidelines-housekeeping-xuZZEE/snapshots/fingerprint-latest.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: update Dockerfile to use node:24-alpine for improved security and build performance
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix(sanitizer): remove /g flag from DANGEROUS_PATTERNS, fix tests and CI threshold
  CHANGELOG.md
  src/tests/tools/tool-call-handler-extra.test.ts
  src/tests/validation/error-handling-extra.test.ts
  src/validation/error-handling.ts
  vitest.config.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

fix: patch picomatch CVE-2026-33671 and raise coverage thresholds to 90% (#1397)
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  src/tests/config/orchestration-config-extra.test.ts
  src/tests/infrastructure/graph-orchestration-extra.test.ts
  src/tests/infrastructure/statistical-analysis-helpers-extra.test.ts
  src/tests/memory/coherence-scanner-extra.test.ts
  src/tests/models/model-router-extra.test.ts
  src/tests/models/multi-model-executor-extra.test.ts
  src/tests/skills/adapt/adapt-annealing-extra.test.ts
  src/tests/skills/adapt/adapt-quorum-extra.test.ts
  src/tests/skills/orch/orch-multi-agent-extra.test.ts
  src/tests/skills/orch/orch-result-synthesis-extra.test.ts
  src/tests/skills/qm/qm-heisenberg-picture-extra.test.ts
  src/tests/skills/qm/qm-tunneling-breakthrough-extra.test.ts
  src/tests/skills/qm/qm-uncertainty-tradeoff-extra.test.ts
  src/tests/skills/resil/resil-replay-extra.test.ts
  src/tests/skills/runtime/workspace-adapter-extra.test.ts
  src/tests/skills/synth/synth-comparative-extra.test.ts
  src/tests/snapshots/symbol-change-tracker-extra.test.ts
  src/tests/tools/tool-call-handler-extra.test.ts
  src/tests/tools/visualization-tools-extra.test.ts
  src/tests/tools/workspace-tools-extra.test.ts
  src/tests/validation/error-handling-extra.test.ts
  src/tests/workflows/workflow-telemetry-extra.test.ts
  src/validation/error-handling.ts
  vitest.config.ts
Due: biome-check, typescript-check, json-lint, trailing-whitespace, end-of-file-fixer, esm-imports-check, typescript-any-check, test-coverage-check, console-log-check, quick-test-check

chore: sync deps and env requirements
  package-lock.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: sync deps and env requirements (#1414)
  package-lock.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: add Trivy security scan and ignore list for vulnerabilities
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .trivyignore
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

chore: update CHANGELOG.md
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer

fix: add Trivy security scan and ignore list for vulnerabilities (#1421)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .trivyignore
  CHANGELOG.md
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

fix: update timestamps and version for plugins and skills in cpm.lock
  cpm.lock
Due: none
