Repository Anselmoo/mcp-ai-agent-guidelines: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check, yaml-lint, json-lint, docs-quality, docs-svg-fix, trailing-whitespace, end-of-file-fixer

lefthook.yml:

# Lefthook Git hooks configuration
# Fast Git hooks manager for maintaining code quality and security

# Global settings
min_version: 1.5.0

# Pre-commit hooks - run before commit is created
pre-commit:
  parallel: true
  commands:
    # ----------------------------- ğŸ”’ Security Tools ---------------------------- #
    gitleaks:
      tags: [security]
      # Moved the long embedded script into a dedicated executable script for clarity and maintainability
      run: ./lefthook/security_check.sh
      fail_text: "ğŸ”’ Gitleaks detected secrets in staged files"

    # --------------------------- ğŸ” Code Quality Tools -------------------------- #
    biome-check:
      tags: [format, lint]
      glob: "*.{js,jsx,ts,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      fail_text: "ğŸŸ¨ Biome formatting/linting issues found"

    typescript-check:
      tags: [types]
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
      fail_text: "ğŸ”· TypeScript type checking failed"

    # ----------------------------- ğŸ“ File Validation ---------------------------- #
    yaml-lint:
      tags: [format, lint, validate]
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint >/dev/null 2>&1; then
          yamllint {staged_files}
        else
          echo "âš ï¸  yamllint not found, skipping YAML validation"
          echo "   Install: brew install yamllint (macOS) or pip install yamllint"
        fi
      fail_text: "ğŸ“„ YAML syntax errors found"

    json-lint:
      tags: [format, lint, validate]
      glob: "*.{json,jsonc}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            # Use Node.js built-in JSON parser for validation
            node -e "try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { console.error('Invalid JSON in $file:', e.message); process.exit(1); }" || exit 1
          fi
        done
      fail_text: "ğŸ“„ JSON syntax errors found"

    # --------------------------- ğŸ“„ Documentation Checks -------------------------- #
    docs-quality:
      tags: [docs, validate]
      glob: "docs/**/*.{md,svg}"
      run: npm run docs:lint:warn-only
      fail_text: "ğŸ“„ Documentation quality issues found (naming, headers, footers, SVG)"

    docs-svg-fix:
      tags: [docs, format]
      glob: "docs/**/*.svg"
      run: npm run docs:fix-svg
      stage_fixed: true
      fail_text: "ğŸ¨ SVG dark mode visibility issues fixed"

    # ----------------------------- ğŸ“ File Quality ---------------------------- #
    trailing-whitespace:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            perl -i -pe 's/[ \t]+$//' "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ Trailing whitespace removed"

    end-of-file-fixer:
      tags: [format]
      glob: "*.{js,jsx,ts,tsx,py,md,yml,yaml,json,txt}"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ] && [ -s "$file" ] && [ "$(tail -c1 "$file")" != "" ]; then
            echo "" >> "$file"
          fi
        done
      stage_fixed: true
      fail_text: "ğŸ§¹ End-of-file issues fixed"

# Pre-push hooks - run before push to remote
pre-push:
  commands:
    dependency-audit:
      tags: [security, audit]
      run: npm audit --omit=dev --audit-level=moderate
      fail_text: "ğŸ”’ Dependency vulnerabilities detected - push aborted. Run 'npm audit' for details."

    test-all:
      tags: [test]
      run: npm run test:all
      fail_text: "ğŸ§ª Tests failed - push aborted"

    quality-check:
      tags: [quality]
      run: npm run quality
      fail_text: "âš¡ Quality checks failed - push aborted"

# Output settings
output:
  - execution
  - success

Resolve ProgressUpdate type conflict and export ProgressTracker module (#900)
  src/strategies/speckit/index.ts
  src/strategies/speckit/progress-tracker.ts
  src/strategies/speckit/types.ts
  tests/vitest/strategies/speckit/progress-tracker.spec.ts
  tests/vitest/tools/prompt/prompt-hierarchy.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

feat(P4-018): Add Git integration for progress tracking (#901)
  src/strategies/speckit/progress-tracker.ts
  tests/vitest/strategies/speckit/progress-tracker-git.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Add update-progress tool for spec-kit task tracking (#902)
  src/index.ts
  src/schemas/update-progress.ts
  src/strategies/speckit/index.ts
  src/strategies/speckit/tasks-parser.ts
  src/tools/shared/error-handler.ts
  src/tools/shared/response-utils.ts
  src/tools/update-progress.ts
  tests/vitest/integration/tool-annotations.spec.ts
  tests/vitest/strategies/speckit/tasks-parser.spec.ts
  tests/vitest/tools/update-progress.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Add Spec-Kit demo script showcasing full workflow (#903)
  demos/demo-speckit.js
  demos/output/demo-speckit-README.md
  demos/output/demo-speckit-adr.md
  demos/output/demo-speckit-plan.md
  demos/output/demo-speckit-progress.md
  demos/output/demo-speckit-roadmap.md
  demos/output/demo-speckit-spec.md
  demos/output/demo-speckit-tasks.md
Due: biome-check, trailing-whitespace, end-of-file-fixer

docs: Add Spec-Kit integration documentation (#905)
  README.md
  docs/speckit/README.md
  docs/speckit/constitution-guide.md
  docs/speckit/usage.md
Due: docs-quality, trailing-whitespace, end-of-file-fixer

feat(P4-021): Add comprehensive Spec-Kit integration tests (#904)
  tests/vitest/strategies/speckit/integration.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

bump version to 0.13.0 in package.json
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

feat(speckit): export all Spec-Kit types and functions from barrel files (#906)
  src/index.ts
  src/strategies/speckit/index.ts
  tests/vitest/strategies/speckit/barrel-exports.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

Add final integration tests for Spec-Kit end-to-end workflows (#907)
  tests/vitest/strategies/speckit/final-integration.spec.ts
Due: biome-check, typescript-check, trailing-whitespace, end-of-file-fixer

fix(lefthook): improve shell compatibility and optimize build performance (#910)
  lefthook.yml
Due: yaml-lint, trailing-whitespace, end-of-file-fixer

Bump version from 0.13.0 to 0.13.1
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

Complete v0.13.1 version bump with package-lock and CHANGELOG updates (#921)
  CHANGELOG.md
  package-lock.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

Bump version from 0.13.0 to 0.13.1 (#919)
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

bump version to 0.13.2 in package.json
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

bump version to 0.13.2 in package.json (#939)
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: downgrade version to 0.13.1 and update dependencies
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

fix: downgrade version to 0.13.1 and update dependencies (#940)
  package-lock.json
  package.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

docs(strategy): expand v0.14.x task guides
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/README.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-001-base-strategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-003-execution-trace.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-005-summary-feedback.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-007-agent-handoff.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-011-migrate-speckit.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-018-threshold-arrays.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-024-prompt-registry.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-025-template-engine.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-026-unified-builder.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-032-legacy-facades.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-037-framework-router.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-053-pal-interface.md
Due: trailing-whitespace, end-of-file-fixer

feat: Add MCP AI Agent Guidelines v0.14.x Specification and Tasks
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/README.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/adr.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/README.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/templates/issue-001-base-strategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/templates/issue-002-execution-trace.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/templates/issue-009-unified-prompt-builder.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/templates/issue-022-pal-interface.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/issues/templates/issue-027-enforcement-tools.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/plan.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/progress.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/roadmap.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/spec.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks.md
Due: trailing-whitespace, end-of-file-fixer

feat: Add code analysis prompt focusing on maintainability
  docs/analysis/v0.14-src-analysis-prompt.md
Due: docs-quality, trailing-whitespace, end-of-file-fixer

Enhance task and validation descriptions with spec-kit cross-references (#946)
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/ENHANCEMENT-SUMMARY.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-001-verify-toolannotations-coverage-100.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-003-verify-framework-count-11.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-005-verify-all-strategies-extend-basestrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-009-verify-single-prompt-entry-point.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-013-verify-executiontrace-active.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-014-verify-pal-abstracts-all-fs-path.md
Due: trailing-whitespace, end-of-file-fixer

feat: Consolidate Code Quality Framework and implement deprecation warning helpers
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-023-design-unifiedpromptbuilder-architecture.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-027-implement-domain-generator-hierarchical.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-033-create-legacy-facade-domainneutralpromptbuilder.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-040-consolidate-code-quality-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-047-implement-gap-004-deprecation-warning-helpers.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-002-verify-schema-description-coverage-80.md
Due: trailing-whitespace, end-of-file-fixer

Enhance validation tasks for v0.14.x release
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-041-consolidate-design-architecture-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-042-consolidate-security-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-043-consolidate-testing-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-044-consolidate-documentation-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-045-consolidate-remaining-frameworks-5.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-054-node-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-055-mock-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-004-verify-test-coverage-90.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-006-verify-zero-duplicate-descriptions.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-007-verify-all-progress-md-valid.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-008-verify-ci-matrix-passes.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-010-verify-ci-runtime-12min.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-011-verify-documentation-complete.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-012-verify-enforce-planning-works.md
Due: trailing-whitespace, end-of-file-fixer

feat: Implement CSV export for tool descriptions with validation and CI integration
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-061-ci-validate-progress.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-064-ci-optimize.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-067-csv-export.md
Due: trailing-whitespace, end-of-file-fixer

feat: consolidate prompt engineering framework and implement unified interface
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-028-implement-domain-generator-security.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-030-implement-domain-generator-code-analysis.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-031-implement-domain-generator-domain-neutral.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-034-add-toolannotations-to-all-prompt-tools-gap-001.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-039-consolidate-prompt-engineering-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-046-schema-examples.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-048-validate-progress.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-056-identify-all-fs-path-calls.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-057-replace-fs-path-calls-with-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-059-cross-platform-verification.md
Due: trailing-whitespace, end-of-file-fixer

feat: add validation task V-015 to verify removal of deprecated files and ensure content migration
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-015-verify-deprecated-files-removed.md
Due: trailing-whitespace, end-of-file-fixer

[WIP] Enhance the quality of phase 1 foundation tasks (#947)
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-023-design-unifiedpromptbuilder-architecture.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-027-implement-domain-generator-hierarchical.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-028-implement-domain-generator-security.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-030-implement-domain-generator-code-analysis.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-031-implement-domain-generator-domain-neutral.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-033-create-legacy-facade-domainneutralpromptbuilder.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-034-add-toolannotations-to-all-prompt-tools-gap-001.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-039-consolidate-prompt-engineering-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-040-consolidate-code-quality-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-041-consolidate-design-architecture-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-042-consolidate-security-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-043-consolidate-testing-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-044-consolidate-documentation-framework.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-045-consolidate-remaining-frameworks-5.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-046-schema-examples.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-047-implement-gap-004-deprecation-warning-helpers.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-048-validate-progress.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-054-node-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-055-mock-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-056-identify-all-fs-path-calls.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-057-replace-fs-path-calls-with-pal.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-059-cross-platform-verification.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-061-ci-validate-progress.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-064-ci-optimize.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-067-csv-export.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-002-verify-schema-description-coverage-80.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-004-verify-test-coverage-90.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-006-verify-zero-duplicate-descriptions.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-007-verify-all-progress-md-valid.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-008-verify-ci-matrix-passes.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-010-verify-ci-runtime-12min.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-011-verify-documentation-complete.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-012-verify-enforce-planning-works.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/validation/V-015-verify-deprecated-files-removed.md
Due: trailing-whitespace, end-of-file-fixer

Update verification criteria across multiple tasks to include specific commands and documentation references
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-002-test-basestrategy-t.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-004-test-executiontrace.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-006-test-summaryfeedbackcoordinator.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-008-test-agenthandoffcoordinator.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-009-update-outputstrategy-interface.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-1-foundation/T-010-phase-1-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-012-migrate-togafstrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-013-migrate-adrstrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-014-migrate-rfcstrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-015-migrate-enterprisestrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-016-migrate-sddstrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-017-migrate-chatstrategy.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-019-test-score-mapping-thresholds.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-020-test-all-migrated-strategies.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-021-verify-basestrategy-compliance.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-2-migration/T-022-phase-2-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-029-implement-domain-generator-architecture.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-034-add-toolannotations-to-all-prompt-tools-gap-001.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-035-test-unifiedpromptbuilder.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-25-unified-prompts/T-036-phase-2-5-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-038-implement-framework-router.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-049-test-framework-consolidation.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-050-test-gap-implementations.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-051-verify-framework-count-11.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-3-consolidation/T-052-phase-3-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-058-test-pal-interface.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-4-platform/T-060-phase-4-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-062-ci-validate-annotations.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-063-ci-validate-schema-examples.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-065-generate-api-documentation.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-066-create-migration-guide.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-5-cicd/T-068-phase-5-integration-test.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-069-domain-tests.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-070-tools-layer-tests-90-coverage.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-071-integration-tests.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-072-ci-matrix.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-073-test-validate-progress-tool.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-074-test-validate-annotations-tool.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-075-test-validate-schema-examples-tool.md
  plan-v0.14.x/speckit-v0.14.x-strategic-consolidation/tasks/phase-6-testing/T-076-final-acceptance-criteria-validation.md
Due: trailing-whitespace, end-of-file-fixer

docs: update plan mode guidance in Copilot instructions
  .github/copilot-instructions.md
Due: trailing-whitespace, end-of-file-fixer

feat: add v0.14.x issue JSON generator and update README with usage instructions
  scripts/README.md
  scripts/fix-hitl-plan-links.js
  scripts/generate-v0.14x-issues.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

feat: add dry run limit option for issue generation script
  scripts/generate-v0.14x-issues.js
Due: biome-check, trailing-whitespace, end-of-file-fixer

Implement code changes to enhance functionality and improve performance
  artifacts/issues-v0.14x.json
Due: biome-check, json-lint, trailing-whitespace, end-of-file-fixer

chore: simplify .gitignore by consolidating artifact entries
  .gitignore
Due: none
